@model HotelDetailViewModel

<!-- **************** MAIN CONTENT START **************** -->
<main>
	
<!-- =======================
Main Title START -->
<section class="py-0 pt-sm-5">
	<div class="container position-relative">
		<!-- Title and button START -->
		<div class="row mb-3">
			<div class="col-12">
				<!-- Meta -->
				<div class="d-lg-flex justify-content-lg-between mb-1">
					<!-- Title -->
					<div class="mb-2 mb-lg-0">
						<h1 class="fs-2">@Model.Hotel.Name</h1>
						<!-- Location -->
						<p class="fw-bold mb-0"><i class="bi bi-geo-alt me-2"></i>@Model.Hotel.Address - @Model.Hotel.ViewerCount
						</p>
					</div>

					<!-- Buttons -->
					<ul class="list-inline text-end">
						<!-- Heart icon -->
						<li class="list-inline-item">
							<a asp-action="addtowishlist" asp-route-hotelid="@Model.Hotel.Id" asp-controller="account" class="btn btn-sm btn-light px-2"><i class="fa-solid fa-fw fa-heart"></i></a>
						</li>
						<!-- Share icon -->
						<li class="list-inline-item dropdown">
							<!-- Share button -->
							<a href="#" class="btn btn-sm btn-light px-2" role="button" id="dropdownShare" data-bs-toggle="dropdown" aria-expanded="false">
								<i class="fa-solid fa-fw fa-share-alt"></i>
							</a>
							<!-- dropdown button -->
							<ul class="dropdown-menu dropdown-menu-end min-w-auto shadow rounded" aria-labelledby="dropdownShare">
								<li><a class="dropdown-item" href="#"><i class="fab fa-twitter-square me-2"></i>Twitter</a></li>
								<li><a class="dropdown-item" href="#"><i class="fab fa-facebook-square me-2"></i>Facebook</a></li>
								<li><a class="dropdown-item" href="#"><i class="fab fa-linkedin me-2"></i>LinkedIn</a></li>
								<li><a class="dropdown-item" href="#"><i class="fa-solid fa-copy me-2"></i>Copy link</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- Title and button END -->

		<!-- Alert box START -->
		<div class="alert alert-danger alert-dismissible d-flex justify-content-between align-items-center fade show mb-4 rounded-3 pe-2" role="alert">
			<div class="d-flex">
				<span class="alert-heading h5 mb-0 me-2"><i class="bi bi-exclamation-octagon-fill"></i></span>
				<span><strong class="alert-heading me-2">Covid Policy:</strong>You may require to present an RT-PCR negative test report at the hotel</span>
			</div>
				<button type="button" class="btn btn-link text-primary-hover pb-0 text-end" data-bs-dismiss="alert" aria-label="Close"><i class="bi bi-x-lg"></i></button>
		</div>
		<!-- Alert box END -->
	</div>
</section>
<!-- =======================
Main Title END -->

<!-- =======================
Image gallery START -->
<section class="card-grid pt-0">
	<div class="container">
		<div class="row g-2">
				<!-- Slider START -->
				<div class="tiny-slider arrow-round arrow-blur">
					<div class="tiny-slider-inner" data-autoplay="true" data-arrow="true" data-edge="0" data-dots="false" data-items="2" data-items-sm="1">
						@foreach (var url in Model.Hotel.ImageFileUrls)
						{
							<!-- Slider item -->
							<div>
								<a class="w-100 h-100" data-glightbox data-gallery="gallery" href="@url">
									<div class="card card-element-hover card-overlay-hover overflow-hidden">
										<!-- Image -->
										<img src="@url" class="rounded-3" alt="">
										@* <!-- Full screen button -->
										<div class="hover-element w-100 h-100">
											<i class="bi bi-fullscreen fs-6 text-white position-absolute top-50 start-50 translate-middle bg-dark rounded-1 p-2 lh-1"></i>
										</div> *@
									</div>
								</a>
							</div>
						}

					</div>
					<!-- Slider START -->
		</div>
	</div>
</section>
<!-- =======================
Image gallery END -->

<!-- =======================
About hotel START -->
<section class="pt-0">
	<div class="container" data-sticky-container>

		<div class="row g-4 g-xl-5">
			<!-- Content START -->
			<div class="col-12 order-1">
				<div class="vstack gap-5">

						<!-- About hotel START -->
						<div class="card bg-transparent">
							<!-- Card header -->
							<div class="card-header border-bottom bg-transparent px-0 pt-0">
								<h3 class="mb-0">About This Hotel</h3>
							</div>

							<!-- Card body START -->
							<div class="card-body pt-4 p-0">

								<p class="mb-3">@Model.Hotel.Desc.Substring(0, Model.Hotel.Desc.Length / 2)</p>

								<div class="collapse" id="collapseContent">
									<p class="my-3">@Model.Hotel.Desc.Substring(Model.Hotel.Desc.Length / 2)</p>
								</div>


								<a class="p-0 mb-4 mt-2 btn-more d-flex align-items-center collapsed" data-bs-toggle="collapse" href="#collapseContent" role="button" aria-expanded="false" aria-controls="collapseContent">
									See <span class="see-more ms-1">more</span><span class="see-less ms-1">less</span><i class="fa-solid fa-angle-down ms-2"></i>
								</a>

								<!-- List -->
								<h5 class="fw-light mb-2">Advantages</h5>
								<ul class="list-group list-group-borderless mb-0">
									@foreach (var item in Model.Hotel.AdvantageNames)
									{
										<li class="list-group-item h6 fw-light d-flex mb-0"><i class="bi bi-patch-check-fill text-success me-2"></i>@item</li>
									}

								</ul>
							</div>
							<!-- Card body END -->
						</div>
						<!-- About hotel START -->
					<!-- Amenities START -->
					<div class="card bg-transparent">
						<!-- Card header -->
						<div class="card-header border-bottom bg-transparent px-0 pt-0">
							<h3 class="card-title mb-0">Amenities</h3>
						</div>

						<!-- Card body START -->
						<div class="card-body pt-4 p-0">
							<div class="row g-4">
								<!-- Activities -->
								<div class="col-sm-6">
									<h6><i class="fa-solid fa-biking me-2"></i>Activities</h6>
									<!-- List -->
									<ul class="list-group list-group-borderless mt-2 mb-0">
										@foreach (var item in Model.Hotel.ActivityNames)
											{
										<li class="list-group-item pb-0">
											<i class="fa-solid fa-check-circle text-success me-2"></i>@item
										</li>
											}
										
									</ul>
								</div>
	
								<!-- Payment Method -->
								<div class="col-sm-6">
									<h6><i class="fa-solid fa-credit-card me-2"></i>Payment Method</h6>
									<!-- List -->
									<ul class="list-group list-group-borderless mt-2 mb-0">
										@foreach (var item in Model.Hotel.PaymentMethodNames)
											{
										<li class="list-group-item pb-0">
											<i class="fa-solid fa-check-circle text-success me-2"></i>@item
										</li>
											}
									</ul>
								</div>
									
									<!-- Staff Language -->
									<div class="col-sm-6">
										<h6><i class="fa-solid fa-volume-up me-2"></i>Staff Language</h6>
										<!-- List -->
										<ul class="list-group list-group-borderless mt-2 mb-0">
											@foreach (var item in Model.Hotel.StaffLanguageNames)
											{
												<li class="list-group-item pb-0">
													<i class="fa-solid fa-check-circle text-success me-2"></i>@item
												</li>
											}
										</ul>
									</div>

								

								<!-- Services -->
								<div class="col-sm-6">
									<h6><i class="fa-solid fa-concierge-bell me-2"></i>Services</h6>
									<!-- List -->
									<ul class="list-group list-group-borderless mt-2 mb-0">
										@foreach (var item in Model.Hotel.ServiceNames)
											{
										<li class="list-group-item pb-0">
											<i class="fa-solid fa-check-circle text-success me-2"></i>@item
										</li>
											}
									</ul>
								</div>
	
							
	
							</div>
						</div>
						<!-- Card body END -->
					</div>
					<!-- Amenities END -->

					<!-- Room START -->
						<!-- Room START -->
						<div class="card bg-transparent" id="room-options">
							<!-- Card header -->
							<div class="card-header border-bottom bg-transparent px-0 pt-0">
								<div class="d-sm-flex justify-content-sm-between align-items-center">
									<h3 class="mb-2 mb-sm-0">Room Options</h3>
									<div class="col-sm-4">
										<form class="form-control-bg-light">
											<select class="form-select form-select-sm js-choice border-0">
												<option value="">Select Option</option>
												<option>Recently search</option>
												<option>Most popular</option>
												<option>Top rated</option>
											</select>
										</form>
									</div>
								</div>
							</div>

							<!-- Card body START -->
							<div class="card-body pt-3 p-0">
								<div class="vstack gap-3">
									@foreach (var room in Model.Hotel.Rooms)
									{
										<!-- Room item START -->
										<div class="card shadow-sm p-2 mb-3">
											<div class="row g-0">
												<!-- Card img -->
												<div class="col-md-4 position-relative">
													@if (room.PricePerNight > room.DiscountedPricePerNight && room.DiscountPercent > 0)
													{
														<!-- Overlay item -->
														<div class="position-absolute top-0 start-0 z-index-1 m-2">
															<div class="badge text-bg-danger">@room.DiscountPercent% Off</div>
														</div>
													}

													<!-- Slider START -->
													<div class="tiny-slider arrow-round arrow-xs arrow-light overflow-hidden rounded-2">
														<div class="tiny-slider-inner" data-autoplay="true" data-arrow="true" data-dots="false" data-items="1">
															@foreach (var imageUrl in room.RoomImageUrls)
															{
																<!-- Image item -->
																<div><img src="@imageUrl" alt="Room image" class="img-fluid rounded" style="max-height: 200px;"></div>
															}
														</div>
													</div>
													<!-- Slider END -->
												</div>

												<!-- Card body -->
												<div class="col-md-8">
													<div class="card-body py-md-2 d-flex flex-column h-100 position-relative">
														<!-- Title -->
														<h5 class="card-title mb-1"><a href="#">@room.RoomName</a></h5>

														<!-- Room details -->
														<div class="mb-1">
															<ul class="list-inline mb-0">
																<li class="list-inline-item me-2"><i class="bi bi-people-fill"></i> @room.AdultCount Adults</li>
																<li class="list-inline-item me-2"><i class="bi bi-people"></i> @room.ChildCount Children</li>
																<li class="list-inline-item"><i class="bi bi-aspect-ratio"></i> @room.Area m²</li>
															</ul>
														</div>

														<!-- Cancellation policy -->
														@if (room.IsCancellable)
														{
															<div class="d-flex align-items-center mb-1">
																<i class="bi bi-check-circle-fill text-success me-2"></i>
																<p class="text-success mb-0">
																	Free Cancellation till @DateTime.Now.AddDays(room.CancelAfterDay.GetValueOrDefault()).ToString("dd/MM/yyyy")
																</p>
															</div>
														}
														else
														{
															<div class="d-flex align-items-center mb-1">
																<i class="bi bi-x-circle-fill text-danger me-2"></i>
																<p class="text-danger mb-0">Non Cancellable</p>
															</div>
														}


														<!-- Price and Button -->
														<div class="d-sm-flex justify-content-sm-between align-items-center mt-3 mt-md-auto">
															<!-- Price -->
															<div class="d-flex align-items-center">
																<h5 class="fw-bold mb-0 me-1">$@room.DiscountedPricePerNight</h5>
																<span class="mb-0 me-2">/night</span>
																@if (room.PricePerNight > room.DiscountedPricePerNight && room.DiscountPercent > 0)
																{
																	<span class="text-decoration-line-through mb-0 text-muted">$@room.PricePerNight</span>
																}
															</div>
															<!-- Button -->
															<div class="mt-3 mt-sm-0">
																<a asp-action="roomdetail" asp-route-id="@room.Id" class="btn btn-sm btn-primary mb-0">Select Room</a>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<!-- Room item END -->
									}
								</div>
							</div>
							<!-- Card body END -->
						</div>

						<!-- Room END -->
						@if (Model.Hotel.Reviews.Count() > 0)
						{
						<!-- Customer Review START -->
					<div class="card bg-transparent">
						<!-- Card header -->
						<div class="card-header border-bottom bg-transparent px-0 pt-0">
							<h3 class="card-title mb-0">Customer Review</h3>
						</div>

						<!-- Card body START -->
						<div class="card-body pt-4 p-0">
							<!-- Progress bar and rating START -->
									<!-- Average Star Rating START -->
									<div class="card bg-light p-4 mb-4">
										<div class="row g-4 align-items-center">
											<!-- Rating info -->
											<div class="col-md-4">
												<div class="text-center">
													<!-- Average rating -->
													<h2 class="mb-0">@Model.Hotel.StarPoint</h2>
													<p class="mb-2">Based on @Model.Hotel.Reviews.Count Reviews</p>
													<!-- Star rating -->
													<ul class="list-inline mb-2">
														@* Full stars *@
														@for (int i = 0; i < (int)Model.Hotel.StarPoint; i++)
														{
															<li class="list-inline-item"><i class="bi bi-star-fill text-warning"></i></li>
														}
														@* Empty stars *@
														@for (int i = (int)Model.Hotel.StarPoint; i < 5; i++)
														{
															<li class="list-inline-item"><i class="bi bi-star text-warning"></i></li>
														}
													</ul>
												</div>
											</div>

											<!-- Star Description -->
											<div class="col-md-8">
												<div class="card-body p-0">
													<div class="row g-3 align-items-center">
														<div class="col-12">
															@* Loop through each star point to describe the percentage and number of reviews *@
															@foreach (var rating in Model.Hotel.Reviews.GroupBy(r => r.StarPoint))
															{
																<div class="d-flex align-items-center">
																	<div class="col-2">
																		<span class="fw-bold">@rating.Key</span> <i class="bi bi-star-fill text-warning"></i>
																	</div>
																	<div class="col-8">
																		<div class="progress progress-sm bg-warning bg-opacity-15">
																			<div class="progress-bar bg-warning" role="progressbar" style="width: @((rating.Count() / Model.Hotel.Reviews.Count) * 100)%;" aria-valuenow="@((rating.Count() / Model.Hotel.Reviews.Count) * 100)" aria-valuemin="0" aria-valuemax="100"></div>
																		</div>
																	</div>
																	<div class="col-2 text-end">
																		<span class="fw-light">@((rating.Count() / Model.Hotel.Reviews.Count) * 100)%</span>
																	</div>
																</div>
															}
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<!-- Average Star Rating END -->
									<!-- Progress bar and rating END -->
									@foreach (var review in Model.Hotel.Reviews)
									{
										<!-- Review item START -->
										<div class="card mb-4 shadow-sm">
											<div class="card-body">
												<div class="d-md-flex align-items-center">
													<!-- Avatar -->
													<div class="avatar avatar-lg me-md-4 mb-3 mb-md-0">
														<img class="avatar-img rounded-circle" src='@(string.IsNullOrEmpty(review.UserPpUrl) ? "https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" : review.UserPpUrl)' alt="avatar">
													</div>
													<!-- Text -->
													<div class="flex-grow-1">
														<div class="d-flex justify-content-between align-items-center">
															<div>
																<h6 class="mb-0">@review.UserName</h6>
																<!-- Info -->
																<ul class="nav nav-divider small mb-0">
																	<li class="nav-item">Created on @review.CreatedDate.ToString("dd/MM/yyyy")</li>
																</ul>
															</div>
															<!-- Review star -->
															<div class="icon-md rounded text-bg-warning fs-6">@review.StarPoint</div>
														</div>
														<p class="my-3">@review.ReviewMessage</p>
														<!-- Review images -->
														@if (review.ReviewImageUrls.Count > 0)
														{
															<div class="row g-3">
																@foreach (var item in review.ReviewImageUrls)
																{
																	<div class="col-4 col-sm-3 col-lg-2">
																		<img src="@item" class="img-fluid rounded" alt="Review Image">
																	</div>
																}
															</div>
														}
													</div>
												</div>
											</div>
										</div>
										<!-- Divider -->
										<hr class="my-4">
										<!-- Review item END -->
									}


							<!-- Button -->
							<div class="text-center">
								<a href="#" class="btn btn-primary-soft mb-0">Load more</a>
							</div>
						</div>
						<!-- Card body END -->
					</div>
					<!-- Customer Review END -->
						}
				</div>	
			</div>
			<!-- Content END -->

		@* 	<!-- Right side content START -->
			<aside class="col-xl-5 order-xl-2">
				<div data-sticky data-margin-top="100" data-sticky-for="1199">
					<!-- Book now START -->
					<div class="card card-body border">
						
						<!-- Title -->
						<div class="d-sm-flex justify-content-sm-between align-items-center mb-3">
							<div>
								<span>Price Start at</span>
								<h4 class="card-title mb-0">$@Model.Hotel.Rooms.OrderBy(x=>x.PricePerNight).FirstOrDefault().PricePerNight</h4>
							</div>
							<div>
								<h6 class="fw-normal mb-0">1 room per night</h6>
									<small>+ $@Model.Hotel.Rooms.OrderBy(x => x.PricePerNight).FirstOrDefault().ServiceFee service fee</small>
							</div>
						</div>		

						<!-- Rating -->
							<ul class="list-inline mb-2">
								<li class="list-inline-item me-1 h6 fw-light mb-0">
									<i class="bi bi-arrow-right me-2"></i>@Model.Hotel.StarPoint
								</li>
								<li class="list-inline-item me-0 small" id="star-rating">
								</li>
							</ul>

						<!-- Button -->
						<div class="d-grid">
							<a href="#room-options" class="btn btn-lg btn-primary-soft mb-0">View 10 Rooms Options</a>
						</div>
					</div>
					<!-- Book now END -->
				</div>	
			</aside>
			<!-- Right side content END --> *@
		</div> <!-- Row END -->
	</div>
</section>
<!-- =======================
About hotel END -->

</main>
<!-- **************** MAIN CONTENT END **************** -->
<script>
	function generateStars(starPoint, elementId) {
		const fullStars = Math.floor(starPoint);
		const halfStar = (starPoint - fullStars) >= 0.5;
		const emptyStars = 5 - fullStars - (halfStar ? 1 : 0);

		const starContainer = document.getElementById(elementId);
		starContainer.innerHTML = '';

		for (let i = 0; i < fullStars; i++) {
			starContainer.innerHTML += '<i class="fa-solid fa-star text-warning"></i>';
		}

		if (halfStar) {
			starContainer.innerHTML += '<i class="fa-solid fa-star-half-alt text-warning"></i>';
		}

		for (let i = 0; i < emptyStars; i++) {
			starContainer.innerHTML += '<i class="fa-regular fa-star text-warning"></i>';
		}
	}

	document.addEventListener("DOMContentLoaded", function () {
		const starPoint = parseFloat('@Model.Hotel.StarPoint'); // Replace with actual data if needed
		generateStars(starPoint, 'star-rating');
	});
</script>