@model PaginatedList<HotelGetViewModel>
@{
	string date = ViewBag.Dates;
	var property = ViewBag.Property;
}
	<!-- **************** MAIN CONTENT START **************** -->
	<main id="hotelgrid">

		<!-- =======================
		Title and Tabs START -->
		<section class="pt-0 pb-4">
			<div class="container position-relative">

				<!-- Title and button START -->
				<div class="row">
					<div class="col-12">
						<!-- Meta START -->
						<div class="d-flex justify-content-between">
							<!-- Filter collapse button -->
							<input type="checkbox" class="btn-check" id="btn-check-soft">
							<label class="btn btn-primary-soft btn-primary-check mb-0" for="btn-check-soft" data-bs-toggle="collapse" data-bs-target="#collapseFilter" aria-controls="collapseFilter">
								<i class="bi fa-fe bi-sliders me-2"></i>Show Filters
							</label>

							<!-- tabs -->
							<ul class="nav nav-pills nav-pills-dark" id="tour-pills-tab" role="tablist">
								<!-- Tab item -->
								<li class="nav-item">
									<button class="nav-link rounded-start rounded-0 mb-0 hotel-list"><i class="bi fa-fw bi-list-ul"></i></button>
								</li>
								<!-- Tab item -->
								<li class="nav-item">
								<button class="nav-link rounded-end rounded-0 mb-0 active hotel-grid"><i class="bi fa-fw bi-grid-fill"></i></button>
								</li>
							</ul>
						</div>
						<!-- Meta END -->
					</div>
				</div>
				<!-- Title and button END -->
				<!-- Collapse body START -->
				<div class="collapse" id="collapseFilter">
					<div class="card card-body bg-light p-4 mt-4 z-index-9">

						<!-- Form START -->
						<form class="row g-4" method="get" action="hotelgrid" id="myForm"> 
							<!-- Input item -->
							<div class="col-md-6 col-lg-4">
								<div class="form-control-borderless">
									<label class="form-label">Enter Hotel Name</label>
								<input type="text" class="form-control form-control-lg" name="searchStr">
								</div>
							</div>

							<!-- nouislider item -->
						<div class="col-md-6 col-lg-4">
							<div class="form-control-borderless">
								<label class="form-label">Price Range</label>
								<div class="position-relative">
									<div class="noui-wrapper">
										<div class="d-flex justify-content-between">
											<input type="text" class="text-body input-with-range-min" name="minPrice">
											<input type="text" class="text-body input-with-range-max" name="maxPrice">
										</div>
										<div class="noui-slider-range mt-2" data-range-min='100' data-range-max='2000' data-range-selected-min='100' data-range-selected-max='2000'></div>
									</div>
								</div>
							</div>
						</div>


							<!-- Select item -->
							<div class="col-md-6 col-lg-4">
								<div class="form-size-lg form-control-borderless">
									<label class="form-label">Popular Filters</label>
									<select class="form-select js-choice border-0" name="select">
										<option value="0">Select Option</option>
									<option value="1">Most popular</option>
									<option value="2">Top rated</option>
									</select>
								</div>
							</div>

							<!-- Star rating -->
						<div class="col-md-6 col-lg-4">
							<div class="form-control-borderless">
								<label class="form-label">Star Rating</label>
								<ul class="list-inline mb-0 g-3">
									<!-- 1 -->
									<li class="list-inline-item">
										<input type="radio" class="btn-check" id="btn-check-9" name="starpoint" value="1">
										<label class="btn btn-white btn-primary-soft-check" for="btn-check-9">1<i class="bi bi-star-fill"></i>+</label>
									</li>
									<!-- 2 -->
									<li class="list-inline-item">
										<input type="radio" class="btn-check" id="btn-check-10" name="starpoint" value="2">
										<label class="btn btn-white btn-primary-soft-check" for="btn-check-10">2<i class="bi bi-star-fill"></i>+</label>
									</li>
									<!-- 3 -->
									<li class="list-inline-item">
										<input type="radio" class="btn-check" id="btn-check-11" name="starpoint" value="3">
										<label class="btn btn-white btn-primary-soft-check" for="btn-check-11">3<i class="bi bi-star-fill"></i>+</label>
									</li>
									<!-- 4 -->
									<li class="list-inline-item">
										<input type="radio" class="btn-check" id="btn-check-12" name="starpoint" value="4">
										<label class="btn btn-white btn-primary-soft-check" for="btn-check-12">4<i class="bi bi-star-fill"></i>+</label>
									</li>
									<!-- 5 -->
									<li class="list-inline-item">
										<input type="radio" class="btn-check" id="btn-check-13" name="starpoint" value="5">
										<label class="btn btn-white btn-primary-soft-check" for="btn-check-13">5<i class="bi bi-star-fill"></i></label>
									</li>
								</ul>
							</div>
						</div>

						@if(property.Services is not null){
							<!-- Check box item -->
							<div class="col-12">
								<div class="form-control-borderless">
									<label class="form-label">Services</label>
									<div class="row g-3">
										@foreach (var item in property.Services)
									{
										<!-- checkbox -->
										<div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
											<div class="form-check">
												<input class="form-check-input" type="checkbox" value="@item.ServiceName" id="flexCheckDefault" name="servicenames">
												<label class="form-check-label h6 fw-light mb-0" for="flexCheckDefault">
													@item.ServiceName
												</label>
											</div>
										</div>
										
									}
									</div> <!-- Row END -->
								</div>
							</div>
						}

							<!-- Button -->
							<div class="text-end align-items-center">
							<button class="btn btn-link p-0 mb-0" id="clearButton" type="button" onclick="clearForm()">Clear all</button>
								<button class="btn btn-dark mb-0 ms-3" type="submit">Apply filter</button>
							</div>
						</form>
						<!-- Form END -->
					</div>
				</div>
				<!-- Collapse body END -->

			</div>
		</section>
		<!-- =======================
		Title and Tabs END -->
	@if(Model is not null)
	{
	<!-- =======================
		Hotel grid START -->
		<section class="pt-0">
			<div class="container">
				<div class="row g-4">
					@foreach (var hotel in Model)
				{
					<!-- Card item START -->
					<div class="col-md-6 col-xl-4">
						<div class="card shadow p-2 pb-0 h-100">
							@* <!-- Overlay item -->
							<div class="position-absolute top-0 start-0 z-index-1 m-4">
								<div class="badge bg-danger text-white">30% Off</div>
							</div> *@

							<!-- Slider START -->
							<div class="tiny-slider arrow-round arrow-xs arrow-dark rounded-2 overflow-hidden">
								<div class="tiny-slider-inner" data-autoplay="false" data-arrow="true" data-dots="false" data-items="1">
									@foreach (var url in hotel.ImageFileUrls)
									{
									<!-- Image item -->
									<div><img src="@url" alt="Card image"></div>
										
									}

								</div>
							</div>
							<!-- Slider END -->
							<!-- Card body START -->
							<div class="card-body px-3 pb-0">
								<!-- Rating and cart -->
								<div class="d-flex justify-content-between mb-3">
									<a href="#" class="badge bg-dark text-white"><i class="bi fa-fw bi-star-fill me-2 text-warning"></i>@hotel.StarPoint</a>
										@if (!hotel.IsInWishlist)
										{
											<a asp-action="addtowishlist" asp-controller="account" asp-route-hotelid="@hotel.Id" class="h6 mb-0 z-index-2"><i class="bi fa-fw bi-bookmark"></i></a>
										}
										else
										{
											<a asp-action="removefromwishlist" asp-controller="account" asp-route-id="@hotel.WishlistItemId" class="h6 mb-0 z-index-2"><i class="bi fa-fw bi-bookmark-fill"></i></a>
											
										}
									</div>

								<!-- Title -->
								<h5 class="card-title"><a href="hotel-detail.html">@hotel.Name</a></h5>

								<!-- List -->
								<ul class="nav nav-divider mb-2 mb-sm-3">
									@foreach (var name in hotel.ServiceNames)
									{
									<li class="nav-item">@name</li>
										
									}
									
								</ul>
							</div>
							<!-- Card body END -->
							<!-- Card footer START-->
							<div class="card-footer pt-0">
								<!-- Price and Button -->
								<div class="d-sm-flex justify-content-sm-between align-items-center">
									<!-- Price -->
									<div class="d-flex align-items-center">
										@* <span class="mb-0 me-2">Starting from</span> *@
										<h5 class="fw-normal text-success mb-0 me-1">$@hotel.Rooms.OrderBy(x=>x.PricePerNight).FirstOrDefault().PricePerNight</h5>
										<span class="mb-0 me-2">/night</span>
										@* <span class="text-decoration-line-through">$1000</span> *@
									</div>
									<!-- Button -->
									<div class="mt-2 mt-sm-0">
										<a asp-action="HotelDetail" asp-route-dateRange="@date" asp-route-id="@hotel.Id" class="btn btn-sm btn-primary-soft mb-0 w-100">View Detail<i class="bi bi-arrow-right ms-2"></i></a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Card item END -->
				}

				</div> <!-- Row END -->
				<!-- Pagination -->
				<div class="row">
					<div class="col-12">
						<nav class="mt-4 d-flex justify-content-center" aria-label="navigation">
						<ul class="pagination pagination-primary-soft d-inline-block d-md-flex rounded mb-0">
							<li class="page-item @(Model.HasPrev ? "" : "disabled") mb-0">
								<a class="page-link" asp-action="hotelgrid" asp-route-page="@(Model.CurrentPage - 1)" tabindex="-1">
									<i class="fa-solid fa-angle-left"></i>
								</a>
							</li>
							@for (int i = 1; i <= Model.TotalPageCount; i++)
							{
								<li class="page-item @(Model.CurrentPage == i ? "active" : "") mb-0">
									<a class="page-link" asp-action="hotelgrid" asp-route-page="@i">@i</a>
								</li>
							}
							<li class="page-item @(Model.HasNext ? "" : "disabled") mb-0">
								<a class="page-link" asp-action="hotelgrid" asp-route-page="@(Model.CurrentPage + 1)">
									<i class="fa-solid fa-angle-right"></i>
								</a>
							</li>
						</ul>

						</nav>
					</div>
				</div>
			</div>
		</section>
		<!-- =======================
		Hotel grid END -->
	}
	else
	{
		<!-- No Data Available START -->
		<section class="pt-0">
			<div class="container">
				<div class="row mb-4">
					<div class="col-12 text-center">
						<h2>No Hotels Available</h2>
						<p>We couldn't find any hotels matching your criteria. Please try adjusting your search filters or come back later.</p>
						<a asp-action="index" class="btn btn-primary-soft">Go to Home</a>
					</div>
				</div>
			</div>
		</section>
		<!-- No Data Available END -->
	}
</main>
	<!-- **************** MAIN CONTENT END **************** -->
	<!-- **************** MAIN CONTENT START **************** -->
	<main id="hotellist" style="display:none">
	<!-- Title and button START -->
	<!-- =======================
	Title and Tabs START -->
	<section class="pt-0 pb-4">
		<div class="container position-relative">

			<!-- Title and button START -->
			<div class="row">
				<div class="col-12">
					<!-- Meta START -->
					<div class="d-flex justify-content-between">
						<!-- Filter collapse button -->
						<input type="checkbox" class="btn-check" style="visibility: hidden;">
						<label class="btn btn-primary-soft btn-primary-check mb-0" style="visibility: hidden;">
							<i class="bi fa-fe bi-sliders me-2"></i>Show Filters
						</label>

						<!-- tabs -->
						<ul class="nav nav-pills nav-pills-dark" id="tour-pills-tab" role="tablist">
							<!-- Tab item -->
							<li class="nav-item">
								<button class="nav-link rounded-start rounded-0 mb-0 active hotel-list"><i class="bi fa-fw bi-list-ul"></i></button>
							</li>
							<!-- Tab item -->
							<li class="nav-item">
								<button class="nav-link rounded-end rounded-0 mb-0  hotel-grid"><i class="bi fa-fw bi-grid-fill"></i></button>
							</li>
						</ul>
					</div>
					<!-- Meta END -->
				</div>
			</div>
			<!-- Title and button END -->

		</div>
	</section>
	<!-- =======================
	Title and Tabs END -->
	<!-- Title and button END -->
	@if (Model is not null)
	{
	<!-- =======================
		Hotel list START -->
		<section class="pt-0">
			<div class="container">

				<div class="row">
					<!-- Left sidebar START -->
					<aside class="col-xl-4 col-xxl-3">
						<!-- Responsive offcanvas body START -->
						<div class="offcanvas-xl offcanvas-end" tabindex="-1" id="offcanvasSidebar" aria-labelledby="offcanvasSidebarLabel">
							<div class="offcanvas-header">
								<h5 class="offcanvas-title" id="offcanvasSidebarLabel">Advance Filters</h5>
								<button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#offcanvasSidebar" aria-label="Close"></button>
							</div>
							<div class="offcanvas-body flex-column p-3 p-xl-0">
								<form class="rounded-3 shadow" method="get" action="hotelgrid" id="myForm2">
									@if(property.Types is not null)
									{
									<!-- Hotel type START -->
									<div class="card card-body rounded-0 rounded-top p-4">
										<!-- Title -->
										<h6 class="mb-2">Hotel Type</h6>
										<!-- Hotel Type group -->
										<div class="col-12">
											@foreach (var item in property.Types)
											{
											<!-- Checkbox -->
											<div class="form-check">
												<input class="form-check-input" type="radio" value="@item.TypeName" id="hotelType1" name="typeName">
												<label class="form-check-label" for="hotelType1">@item.TypeName</label>
											</div>
											}
										</div>
									</div>
									<!-- Hotel type END -->
									}

									<hr class="my-0"> <!-- Divider -->

									<!-- Price range START -->
									<div class="card card-body rounded-0 p-4">
										<!-- Title -->
										<h6 class="mb-2">Price range</h6>
										<!-- Price range group -->
										<!-- nouislider item -->
											<div class="form-control-borderless">
												<div class="position-relative">
													<div class="noui-wrapper">
														<div class="d-flex justify-content-between">
															<input type="text" class="text-body input-with-range-min" name="minPrice">
															<input type="text" class="text-body input-with-range-max" name="maxPrice">
														</div>
														<div class="noui-slider-range mt-2" data-range-min='100' data-range-max='2000' data-range-selected-min='100' data-range-selected-max='2000'></div>
													</div>
												</div>
											</div>
									</div>
									<!-- Price range END -->

									<hr class="my-0"> <!-- Divider -->
									<!-- Popular type START -->
									<div class="card card-body rounded-0 p-4">
										<!-- Title -->
										<h6 class="mb-2">Popular Type</h6>
										<!-- Popular Type group -->
										<div class="form-size-lg form-control-borderless">
											<label class="form-label">Popular Filters</label>
											<select class="form-select js-choice border-0" name="select">
												<option value="0">Select Option</option>
												<option value="1">Most popular</option>
												<option value="2">Top rated</option>
											</select>
										</div>
									</div>
									<!-- Popular type END -->

									<hr class="my-0"> <!-- Divider -->

									<div class="card card-body rounded-bottom-0 p-4">
										<!-- Title -->
										<h6 class="mb-2">Rating Star</h6>
										<!-- Rating Star group -->
										<ul class="rating-star-group list-inline mb-0">
											<!-- 1 -->
											<li class="list-inline-item">
												<input type="radio" id="star1" name="starpoint" value="1">
												<label for="star1" class="bi bi-star-fill"></label>
											</li>
											<!-- 2 -->
											<li class="list-inline-item">
												<input type="radio" id="star2" name="starpoint" value="2">
												<label for="star2" class="bi bi-star-fill"></label>
											</li>
											<!-- 3 -->
											<li class="list-inline-item">
												<input type="radio" id="star3" name="starpoint" value="3">
												<label for="star3" class="bi bi-star-fill"></label>
											</li>
											<!-- 4 -->
											<li class="list-inline-item">
												<input type="radio" id="star4" name="starpoint" value="4">
												<label for="star4" class="bi bi-star-fill"></label>
											</li>
											<!-- 5 -->
											<li class="list-inline-item">
												<input type="radio" id="star5" name="starpoint" value="5">
												<label for="star5" class="bi bi-star-fill"></label>
											</li>
										</ul>
									</div>

							<div class="d-flex justify-content-around p-2 p-xl-0 mt-xl-4" style="margin-bottom:20px">
								<button class="btn btn-link p-0 mb-0" id="clearButton2" type="button" onclick="clearForm2()">Clear all</button>
								<button class="btn btn-primary mb-0" type="submit">Filter Result</button>
							</div>
							<!-- Buttons -->

								</form><!-- Form End -->
							</div>
						</div>
						<!-- Responsive offcanvas body END -->
					</aside>
					<!-- Left sidebar END -->
					<!-- Main content START -->
					<div class="col-xl-8 col-xxl-9">
						<div class="vstack gap-4">
							@foreach (var hotel in Model)
							{
							<!-- Card item START -->
							<div class="card shadow p-2">
								<div class="row g-0">
									<!-- Card img -->
									<div class="col-md-5 position-relative">

										@* <!-- Overlay item -->
										<div class="position-absolute top-0 start-0 z-index-1 m-2">
											<div class="badge text-bg-danger">30% Off</div>
										</div> *@

										<!-- Slider START -->
										<div class="tiny-slider arrow-round arrow-xs arrow-dark overflow-hidden rounded-2">
											<div class="tiny-slider-inner" data-autoplay="false" data-arrow="true" data-dots="false" data-items="1">
												@foreach (var item in hotel.ImageFileUrls)
													{
												<!-- Image item -->
												<div><img src="@item" alt="Card image"></div>
													}

											</div>
										</div>
										<!-- Slider END -->
									</div>

									<!-- Card body -->
									<div class="col-md-7">
										<div class="card-body py-md-2 d-flex flex-column h-100 position-relative">

											<!-- Rating and buttons -->
											<div class="d-flex justify-content-between align-items-center">
												<ul class="list-inline mb-0">
													<li class="list-inline-item me-0 small"><i class="fa-solid fa-star text-warning"></i></li>
													<li class="list-inline-item me-0 small"><i class="fa-solid fa-star text-warning"></i></li>
													<li class="list-inline-item me-0 small"><i class="fa-solid fa-star text-warning"></i></li>
													<li class="list-inline-item me-0 small"><i class="fa-solid fa-star text-warning"></i></li>
													<li class="list-inline-item me-0 small"><i class="fa-solid fa-star-half-alt text-warning"></i></li>
												</ul>

												<ul class="list-inline mb-0 z-index-2">
													<!-- Heart icon -->
													<li class="list-inline-item">
															@if (!hotel.IsInWishlist)
															{
																<a asp-action="addtowishlist" asp-controller="account" asp-route-hotelid="@hotel.Id" class="btn btn-sm btn-round btn-light"><i class="fa-regular fa-fw fa-heart"></i></a>
															}
															else
															{
																<a asp-action="removefromwishlist" asp-controller="account" asp-route-id="@hotel.WishlistItemId" class="btn btn-sm btn-round btn-light"><i class="fa-solid fa-fw fa-heart"></i></a>

															}
														</li>
													<!-- Share icon -->
													<li class="list-inline-item dropdown">
														<!-- Share button -->
														<a href="#" class="btn btn-sm btn-round btn-light" role="button" id="dropdownShare" data-bs-toggle="dropdown" aria-expanded="false">
															<i class="fa-solid fa-fw fa-share-alt"></i>
														</a>
														<!-- dropdown button -->
														<ul class="dropdown-menu dropdown-menu-end min-w-auto shadow rounded" aria-labelledby="dropdownShare">
															<li><a class="dropdown-item" href="#"><i class="fab fa-twitter-square me-2"></i>Twitter</a></li>
															<li><a class="dropdown-item" href="#"><i class="fab fa-facebook-square me-2"></i>Facebook</a></li>
															<li><a class="dropdown-item" href="#"><i class="fab fa-linkedin me-2"></i>LinkedIn</a></li>
															<li><a class="dropdown-item" href="#"><i class="fa-solid fa-copy me-2"></i>Copy link</a></li>
														</ul>
													</li>
												</ul>
											</div>

											<!-- Title -->
											<h5 class="card-title mb-1"><a href="hotel-detail.html">Courtyard by Marriott New York </a></h5>
											<small><i class="bi bi-geo-alt me-2"></i>5855 W Century Blvd, Los Angeles - 90045</small>
											<!-- Amenities -->
											<ul class="nav nav-divider mt-3">
												@foreach (var item in hotel.ServiceNames)
													{
													
												<li class="nav-item">@item</li>
													}
											</ul>

											@* <!-- List -->
											<ul class="list-group list-group-borderless small mb-0 mt-2">
												@foreach (var item in hotel.AdvantageNames.Take(4))
													{
												<li class="list-group-item d-flex text-success p-0">
													<i class="bi bi-patch-check-fill me-2"></i>@item
												</li>
													}
											</ul> *@

											<!-- Price and Button -->
											<div class="d-sm-flex justify-content-sm-between align-items-center mt-3 mt-md-auto">
												<!-- Button -->
												<div class="d-flex align-items-center">
														<span class="mb-0 me-2">Starting from</span>
													<h5 class="fw-bold mb-0 me-1">$@hotel.Rooms.OrderBy(x => x.PricePerNight).FirstOrDefault().PricePerNight</h5>
													<span class="mb-0 me-2">/night</span>
													@* <span class="text-decoration-line-through mb-0">$1000</span> *@
												</div>
												<!-- Price -->
												<div class="mt-3 mt-sm-0">
													<a asp-action="hoteldetail" asp-route-id="@hotel.Id" asp-route-dateRange="@date" class="btn btn-sm btn-dark mb-0 w-100">View detail</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- Card item END -->
							}
							<!-- Pagination -->
							<div class="row">
								<div class="col-12">
									<nav class="mt-4 d-flex justify-content-center" aria-label="navigation">
										<ul class="pagination pagination-primary-soft d-inline-block d-md-flex rounded mb-0">
											<li class="page-item @(Model.HasPrev ? "" : "disabled") mb-0">
												<a class="page-link" asp-action="hotelgrid" asp-route-page="@(Model.CurrentPage - 1)" tabindex="-1">
													<i class="fa-solid fa-angle-left"></i>
												</a>
											</li>
											@for (int i = 1; i <= Model.TotalPageCount; i++)
											{
												<li class="page-item @(Model.CurrentPage == i ? "active" : "") mb-0">
													<a class="page-link" asp-action="hotelgrid" asp-route-page="@i">@i</a>
												</li>
											}
											<li class="page-item @(Model.HasNext ? "" : "disabled") mb-0">
												<a class="page-link" asp-action="hotelgrid" asp-route-page="@(Model.CurrentPage + 1)">
													<i class="fa-solid fa-angle-right"></i>
												</a>
											</li>
										</ul>

									</nav>
								</div>
							</div>

						</div>
					</div>
					<!-- Main content END -->
				</div> <!-- Row END -->
			</div>
		</section>
		<!-- =======================
		Hotel list END -->
	}
	else
	{
		<!-- No Data Available START -->
		<section class="pt-0">
			<div class="container">
				<div class="row mb-4">
					<div class="col-12 text-center">
						<h2>No Hotels Available</h2>
						<p>We couldn't find any hotels matching your criteria. Please try adjusting your search filters or come back later.</p>
						<a asp-action="index" class="btn btn-primary-soft">Go to Home</a>
					</div>
				</div>
			</div>
		</section>
		<!-- No Data Available END -->
	}

	</main>
	<!-- **************** MAIN CONTENT END **************** -->

												<script>
	document.addEventListener("DOMContentLoaded", function () {
		// Get all elements with class "hotel-grid"
		const hotelGridItems = document.querySelectorAll('.hotel-grid');
		// Get all elements with class "hotel-list"
		const hotelListItems = document.querySelectorAll('.hotel-list');

		// Add click event listener to elements with class "hotel-grid"
		hotelGridItems.forEach(function (item) {
			item.addEventListener('click', function () {
				// Display the element with ID "hotelgrid"
				document.getElementById('hotelgrid').style.display = 'block';
				// Hide the element with ID "hotellist"
				document.getElementById('hotellist').style.display = 'none';
			});
		});

		// Add click event listener to elements with class "hotel-list"
		hotelListItems.forEach(function (item) {
			item.addEventListener('click', function () {
				// Display the element with ID "hotellist"
				document.getElementById('hotellist').style.display = 'block';
				// Hide the element with ID "hotelgrid"
				document.getElementById('hotelgrid').style.display = 'none';
			});
		});
	});

												</script>