@model ReservationViewModel
@{
	decimal price = Model.Room.PricePerNight * Model.Nights;
}
	<!-- **************** MAIN CONTENT START **************** -->
	<main>

		<!-- =======================
		Page banner START -->
		<section class="py-0">
			<div class="container">
				<!-- Card START -->
				<div class="card bg-light overflow-hidden px-sm-5">
					<div class="row align-items-center g-4">

						<!-- Content -->
						<div class="col-sm-9">
							<div class="card-body">
								<!-- Breadcrumb -->
								<nav aria-label="breadcrumb">
									<ol class="breadcrumb breadcrumb-dots mb-0">
										<li class="breadcrumb-item"><a href="index.html"><i class="bi bi-house me-1"></i> Home</a></li>
										<li class="breadcrumb-item">Hotel detail</li>
										<li class="breadcrumb-item active">Booking</li>
									</ol>
								</nav>
								<!-- Title -->
								<h1 class="m-0 h2 card-title">Review your Booking</h1>
							</div>
						</div>

						<!-- Image -->
						<div class="col-sm-3 text-end d-none d-sm-block">
							<img src="~/assets/images/element/17.svg" class="mb-n4" alt="">
						</div>
					</div>
				</div>
				<!-- Card END -->
			</div>
		</section>
		<!-- =======================
		Page banner END -->
		<!-- =======================
		Page content START -->
		<section>
			<div class="container">
				<div class="row g-4 g-lg-5">

					<!-- Left side content START -->
					<div class="col-xl-8">
						<div class="vstack gap-5">
							<!-- Hotel information START -->
							<div class="card shadow">
								<!-- Card header -->
								<div class="card-header p-4 border-bottom">
									<!-- Title -->
									<h3 class="mb-0"><i class="fa-solid fa-hotel me-2"></i>Hotel Information</h3>
								</div>

								<!-- Card body START -->
								<div class="card-body p-4">
									<!-- Card list START -->
									<div class="card mb-4">
										<div class="row align-items-center">
											<!-- Image -->
											<div class="col-sm-6 col-md-3">
												<img src="@Model.Hotel.ImageFileUrls.FirstOrDefault()" class="card-img" alt="">
											</div>

											<!-- Card Body -->
											<div class="col-sm-6 col-md-9">
												<div class="card-body pt-3 pt-sm-0 p-0">
													<!-- Title -->
													<h5 class="card-title"><a asp-action="hoteldetail" asp-route-id="@Model.Hotel.Id">@Model.Hotel.Name</a></h5>
													<p class="small mb-2"><i class="bi bi-geo-alt me-2"></i>@Model.Hotel.Address - @Model.Hotel.ViewerCount</p>

													<!-- Rating star -->
												<ul class="list-inline mb-0">
													@{
														int fullStars = (int)Model.Hotel.StarPoint;
														bool hasHalfStar = (int)Model.Hotel.StarPoint - fullStars >= 0.5;
														int emptyStars = 5 - fullStars - (hasHalfStar ? 1 : 0);
													}

													@for (int i = 0; i < fullStars; i++)
													{
														<li class="list-inline-item me-0 small"><i class="fa-solid fa-star text-warning"></i></li>
													}

													@if (hasHalfStar)
													{
														<li class="list-inline-item me-0 small"><i class="fa-solid fa-star-half-alt text-warning"></i></li>
													}

													@for (int i = 0; i < emptyStars; i++)
													{
														<li class="list-inline-item me-0 small"><i class="fa-solid fa-star text-muted"></i></li>
													}

													<li class="list-inline-item ms-2 h6 small fw-bold mb-0">@Model.Hotel.StarPoint/5.0</li>
												</ul>

												</div>
											</div>

										</div>
									</div>
									<!-- Card list END -->
									<!-- Information START -->
									<div class="row g-4">
										<!-- Item -->
										<div class="col-lg-4">
											<div class="bg-light py-3 px-4 rounded-3">
												<h6 class="fw-light small mb-1">Check-in</h6>
												<h5 class="mb-1">@Model.CheckInDate</h5>
											</div>
										</div>

										<!-- Item -->
										<div class="col-lg-4">
											<div class="bg-light py-3 px-4 rounded-3">
												<h6 class="fw-light small mb-1">Check-out</h6>
												<h5 class="mb-1">@Model.CheckOutDate</h5>
											</div>
										</div>

										<!-- Item -->
										<div class="col-lg-4">
											<div class="bg-light py-3 px-4 rounded-3">
												<h6 class="fw-light small mb-1">Adults & Children</h6>
												<h5 class="mb-1">@Model.AdultCount A - @Model.ChildCount C</h5>
												<small><i class="bi bi-brightness-high me-1"></i>@Model.Nights Nights - @(Model.Nights+1) Days</small>
											</div>
										</div>
									</div>
									<!-- Information END -->
									<!-- Card START -->
									<div class="card border mt-4">
										<!-- Card header -->
										<div class="card-header border-bottom d-md-flex justify-content-md-between">
											<h5 class="card-title mb-0">@Model.Room.RoomName</h5>
											<a asp-action="privacypolicy" asp-controller="home" class="btn btn-link p-0 mb-0">View Cancellation Policy</a>
										</div>
								</div>
								<!-- Card body END -->
							</div>
							</div>
							<!-- Hotel information END -->
							<!-- Guest detail START -->
						@* 	<div class="card shadow">
								<!-- Card header -->
								<div class="card-header border-bottom p-4">
									<h4 class="card-title mb-0"><i class="bi bi-people-fill me-2"></i>Reserver Details</h4>
								</div>

								<!-- Card body START -->
								<div class="card-body p-4">
									<!-- Form START -->
									<form class="row g-4">
										<!-- Title -->
										<div class="col-12">
											<div class="bg-light rounded-2 px-4 py-3">
												<h6 class="mb-0">Main Guest</h6>
											</div>
										</div>

										<!-- Input -->
										<div class="col-md-5">
											<label class="form-label">First Name</label>
											<input type="text" class="form-control form-control-lg" placeholder="Enter your first name" value="@Model.User.User.FirstName">
										</div>

										<!-- Input -->
										<div class="col-md-5">
											<label class="form-label">Last Name</label>
										<input type="text" class="form-control form-control-lg" placeholder="Enter your last name" value="@Model.User.User.LastName">
										</div>

										<!-- Input -->
										<div class="col-md-6">
											<label class="form-label">Email</label>
										<input type="email" class="form-control form-control-lg" placeholder="Enter your email" value="@Model.User.User.Email">
											<div id="emailHelp" class="form-text">(Booking voucher will be sent to this email)</div>
										</div>

										<!-- Input -->
										<div class="col-md-6">
											<label class="form-label">Mobile number</label>
											<input type="text" class="form-control form-control-lg" placeholder="Enter your mobile number">
										</div>
									</form>
									<!-- Form END -->
								</div>
								<!-- Card body END -->
							</div> *@
							<!-- Guest detail END -->
							<!-- Payment Options START -->
						

							<!-- Modal -->
							<div class="modal fade" id="paymentModal" tabindex="-1" aria-labelledby="paymentModalLabel" aria-hidden="true">
								<div class="modal-dialog modal-lg">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title" id="paymentModalLabel">Payment Options</h5>
											<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
										</div>
									<div class="card shadow">
										<!-- Card header -->
										<div class="card-header border-bottom p-4">
											<!-- Title -->
											<h4 class="card-title mb-0"><i class="bi bi-wallet-fill me-2"></i>Payment Options</h4>
										</div>
											<!-- Card body START -->
											<div class="card-body p-4 pb-0">
												<!-- Accordion START -->
												<div class="accordion accordion-icon accordion-bg-light" id="accordioncircle">
													<!-- Credit or debit card START -->
													<div class="accordion-item mb-3">
														<h6 class="accordion-header" id="heading-1">
																<i class="bi bi-credit-card text-primary me-2"></i>	<span class="me-5">Credit or Debit Card</span>
														</h6>
														<div id="collapse-1" class="accordion-collapse collapse show" aria-labelledby="heading-1" data-bs-parent="#accordioncircle">
															<!-- Accordion body -->
															<div class="accordion-body">

																<!-- Card list -->
																<div class="d-sm-flex justify-content-sm-between my-3">
																	<h6 class="mb-2 mb-sm-0">We Accept:</h6>
																	<ul class="list-inline my-0">
																		<li class="list-inline-item"> <a href="#"><img src="~/assets/images/element/visa.svg" class="h-30px" alt=""></a></li>
																		<li class="list-inline-item"> <a href="#"><img src="~/assets/images/element/mastercard.svg" class="h-30px" alt=""></a></li>
																		<li class="list-inline-item"> <a href="#"><img src="~/assets/images/element/expresscard.svg" class="h-30px" alt=""></a></li>
																	</ul>
																</div>

																<!-- Form START -->
																<form class="row g-3">
																	<!-- Card number -->
																	<div class="col-12">
																		<label class="form-label"><span class="h6 fw-normal">Card Number *</span></label>
																		<div class="position-relative">
																			<input type="text" class="form-control" maxlength="14" placeholder="XXXX XXXX XXXX XXXX">
																			<img src="~/assets/images/element/visa.svg" class="w-30px position-absolute top-50 end-0 translate-middle-y me-2 d-none d-sm-block" alt="">
																		</div>
																	</div>
																	<!-- Expiration Date -->
																	<div class="col-md-6">
																		<label class="form-label"><span class="h6 fw-normal">Expiration date *</span></label>
																		<div class="input-group">
																			<input type="text" class="form-control" maxlength="2" placeholder="Month">
																			<input type="text" class="form-control" maxlength="4" placeholder="Year">
																		</div>
																	</div>
																	<!--Cvv code  -->
																	<div class="col-md-6">
																		<label class="form-label"><span class="h6 fw-normal">CVV / CVC *</span></label>
																		<input type="text" class="form-control" maxlength="3" placeholder="xxx">
																	</div>
																	<!-- Card name -->
																	<div class="col-12">
																		<label class="form-label"><span class="h6 fw-normal">Name on Card *</span></label>
																		<input type="text" class="form-control" aria-label="name of card holder" placeholder="Enter card holder name">
																	</div>
																	<!-- Buttons -->
																	<div class="col-12">
																		<div class="d-sm-flex justify-content-sm-between align-items-center">
																		<h4>$@(price + Model.Room.ServiceFee) <span class="small fs-6">Due now</span></h4>
																			
																		</div>
																	</div>

																</form>
																<!-- Form END -->
															</div>
														</div>
													</div>
													<!-- Credit or debit card END -->
												@* 	<!-- Paypal START -->
													<div class="accordion-item mb-3">
														<h6 class="accordion-header" id="heading-3">
															<button class="accordion-button collapsed rounded" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-3" aria-expanded="false" aria-controls="collapse-3">
																<i class="bi bi-paypal text-primary me-2"></i><span class="me-5">Pay with Paypal</span>
															</button>
														</h6>
														<div id="collapse-3" class="accordion-collapse collapse" aria-labelledby="heading-3" data-bs-parent="#accordioncircle">
															<!-- Accordion body -->
															<div class="accordion-body">
																<div class="card card-body border align-items-center text-center mt-4">
																	<!-- Image -->
																	<img src="~/assets/images/element/paypal.svg" class="h-70px mb-3" alt="">
																	<p class="mb-3"><strong>Tips:</strong> Simply click on the payment button below to proceed to the PayPal payment page.</p>
																	<a href="#" class="btn btn-sm btn-outline-primary mb-0">Pay with paypal</a>
																</div>
															</div>
														</div>
													</div>
													<!-- Paypal END --> *@
												</div>
												<!-- Accordion END -->
											</div>
											<!-- Card body END -->
										<div class="card-footer p-4 pt-0">
											<!-- Condition link -->
											<p class="mb-0">By processing, You accept Booking <a asp-action="termsofservice" asp-controller="home">Terms of Services</a> and <a asp-action="privacypolicy" asp-controller="home">Policy</a></p>
										</div>
									</div>
									<div class="modal-footer justify-content-between">
										<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
										<div>
										<a asp-action="reserveroom" asp-route-roomid="@Model.Room.Id" asp-route-ispaid="true" class="btn btn-primary-soft mb-0">Pay Now</a>
											@if (Model.IsDepositNeeded)
											{
												<a asp-action="reserveroom" asp-route-roomid="@Model.Room.Id" asp-route-ispaid="false" class="btn btn-primary-soft mb-0">Pay Deposit Only</a>
											}
											else
											{
												<a asp-action="reserveroom" asp-route-roomid="@Model.Room.Id" asp-route-ispaid="false" class="btn btn-primary-soft mb-0">Reserve only</a>
											}
										</div>
									</div>
								</div>
								
							</div>
							<!-- Payment Options END -->
						</div>
						</div>
					</div>

					<!-- Left side content END -->
					<!-- Right side content START -->
					<aside class="col-xl-4">
						<div class="row g-4">

							<!-- Price summary START -->
							<div class="col-md-6 col-xl-12">
								<div class="card shadow rounded-2">
									<!-- card header -->
									<div class="card-header border-bottom">
										<h5 class="card-title mb-0">Price Summary</h5>
									</div>

									<!-- Card body -->
									<div class="card-body">
										<ul class="list-group list-group-borderless">
											<li class="list-group-item d-flex justify-content-between align-items-center">
												<span class="h6 fw-light mb-0">Room Charges</span>
											
												<span class="fs-5">$@(price)</span>
											</li>
										@if (Model.Room.PricePerNight>Model.Room.DiscountedPricePerNight)
										{
										<li class="list-group-item d-flex justify-content-between align-items-center">
												<span class="h6 fw-light mb-0">Total Discount<span class="badge text-bg-danger smaller mb-0 ms-2">@Model.Room.DiscountPercent% off</span></span>
												<span class="fs-5 text-success">-$@(price - (Model.Room.DiscountedPricePerNight * Model.Nights))</span>
											</li>
											<li class="list-group-item d-flex justify-content-between align-items-center">
												<span class="h6 fw-light mb-0">Price after discount</span>
												@{price = (Model.Room.DiscountedPricePerNight * Model.Nights);}
												<span class="fs-5">$@price</span>
											</li>
										}
											<li class="list-group-item d-flex justify-content-between align-items-center">
												<span class="h6 fw-light mb-0">Service Fees</span>
												<span class="fs-5">$@Model.Room.ServiceFee</span>
											</li>
										@{
											decimal deposit=(price + Model.Room.ServiceFee) * 10 / 100;
										}
										@if (Model.Room.IsDepositNeeded)
										{
										<li class="list-group-item d-flex justify-content-between align-items-center">
												<span class="h6 fw-light mb-0">Deposit</span>
											<span class="fs-5">$@deposit</span>
										</li>
										}
										</ul>
									</div>

									<!-- Card footer -->
									<div class="card-footer border-top">
										<div class="d-flex justify-content-between align-items-center">
											<span class="h5 mb-0">Payable Now</span>
											<span class="h5 mb-0">$@(price+Model.Room.ServiceFee)</span>
										</div>
									</div>
								</div>
							</div>
							<!-- Price summary END -->
							<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#paymentModal">
								Reserve
							</button>
						</div>
					</aside>
					<!-- Right side content END -->
				</div> <!-- Row END -->
		</section>
		<!-- =======================
		Page content START -->

	</main>
	<!-- **************** MAIN CONTENT END **************** -->
	