@{
	Layout = "~/Views/Shared/AdminLayout.cshtml";
}
@model HotelGetViewModel


			<!-- Page main content START -->
			<div class="page-content-wrapper p-xxl-4">

				<!-- Title -->
				<div class="row">
					<div class="col-12 mb-4 mb-sm-5">
						<div class="d-sm-flex justify-content-around align-items-center">
							<h1 class="h3 mb-2 mb-sm-0">Premium Room With Balcony</h1>
							<div>
				<a asp-action="refusehotel" asp-route-id="@Model.Id" class="btn btn-danger-soft text-nowrap mb-0"><i class="bi bi-x-circle-fill"></i> Refuse</a>
				<a asp-action="approvehotel" asp-route-id="@Model.Id" class="btn btn-success-soft text-nowrap mb-0"><i class="bi bi-check-circle-fill"></i> Approve</a>
							</div>
						</div>
					</div>
				</div>

				<!-- Booking detail START -->
				<div class="row g-4 g-xl-5">
					<!-- Image -->
					<div class="col-xxl-6">
						<div class="row g-2 g-sm-4">
							@foreach (var item in Model.ImageFileUrls)
				{
							<div class="col-6">
								<a data-glightbox data-gallery="gallery" href="@item">
									<div class="card card-element-hover card-overlay-hover overflow-hidden">
										<!-- Image -->
										<img src="@item" class="rounded-3" alt="">
										<!-- Full screen button -->
										<div class="hover-element w-100 h-100">
											<i class="bi bi-fullscreen fs-6 text-white position-absolute top-50 start-50 translate-middle bg-dark rounded-1 p-2 lh-1"></i>
										</div>
									</div>
								</a>
							</div>
				}
						</div>
					</div>

					<!-- Content -->
		<div class="col-xl-7 order-1">
			<div class="vstack gap-5">

				<!-- About hotel START -->
				<div class="card bg-transparent">
					<!-- Card header -->
					<div class="card-header border-bottom bg-transparent px-0 pt-0">
						<h3 class="mb-0">About This Hotel</h3>
					</div>

					<!-- Card body START -->
					<div class="card-body pt-4 p-0">

						<p class="mb-3">@Model.Desc.Substring(0, Model.Desc.Length / 2)</p>

						<div class="collapse" id="collapseContent">
							<p class="my-3">@Model.Desc.Substring(Model.Desc.Length / 2)</p>
						</div>


						<a class="p-0 mb-4 mt-2 btn-more d-flex align-items-center collapsed" data-bs-toggle="collapse" href="#collapseContent" role="button" aria-expanded="false" aria-controls="collapseContent">
							See <span class="see-more ms-1">more</span><span class="see-less ms-1">less</span><i class="fa-solid fa-angle-down ms-2"></i>
						</a>

						<!-- List -->
						<h5 class="fw-light mb-2">Advantages</h5>
						<ul class="list-group list-group-borderless mb-0">
							@foreach (var item in Model.AdvantageNames)
							{
								<li class="list-group-item h6 fw-light d-flex mb-0"><i class="bi bi-patch-check-fill text-success me-2"></i>@item</li>
							}

						</ul>
					</div>
					<!-- Card body END -->
				</div>
				<!-- About hotel START -->
				<!-- Amenities START -->
				<div class="card bg-transparent">
					<!-- Card header -->
					<div class="card-header border-bottom bg-transparent px-0 pt-0">
						<h3 class="card-title mb-0">Amenities</h3>
					</div>

					<!-- Card body START -->
					<div class="card-body pt-4 p-0">
						<div class="row g-4">
							<!-- Activities -->
							<div class="col-sm-6">
								<h6><i class="fa-solid fa-biking me-2"></i>Activities</h6>
								<!-- List -->
								<ul class="list-group list-group-borderless mt-2 mb-0">
									@foreach (var item in Model.ActivityNames)
									{
										<li class="list-group-item pb-0">
											<i class="fa-solid fa-check-circle text-success me-2"></i>@item
										</li>
									}

								</ul>
							</div>

							<!-- Payment Method -->
							<div class="col-sm-6">
								<h6><i class="fa-solid fa-credit-card me-2"></i>Payment Method</h6>
								<!-- List -->
								<ul class="list-group list-group-borderless mt-2 mb-0">
									@foreach (var item in Model.PaymentMethodNames)
									{
										<li class="list-group-item pb-0">
											<i class="fa-solid fa-check-circle text-success me-2"></i>@item
										</li>
									}
								</ul>
							</div>

							<!-- Staff Language -->
							<div class="col-sm-6">
								<h6><i class="fa-solid fa-volume-up me-2"></i>Staff Language</h6>
								<!-- List -->
								<ul class="list-group list-group-borderless mt-2 mb-0">
									@foreach (var item in Model.StaffLanguageNames)
									{
										<li class="list-group-item pb-0">
											<i class="fa-solid fa-check-circle text-success me-2"></i>@item
										</li>
									}
								</ul>
							</div>



							<!-- Services -->
							<div class="col-sm-6">
								<h6><i class="fa-solid fa-concierge-bell me-2"></i>Services</h6>
								<!-- List -->
								<ul class="list-group list-group-borderless mt-2 mb-0">
									@foreach (var item in Model.ServiceNames)
									{
										<li class="list-group-item pb-0">
											<i class="fa-solid fa-check-circle text-success me-2"></i>@item
										</li>
									}
								</ul>
							</div>



						</div>
					</div>
					<!-- Card body END -->
				</div>
				<!-- Amenities END -->
				<!-- Room START -->
				<div class="card bg-transparent" id="room-options">
					<!-- Card header -->
					<div class="card-header border-bottom bg-transparent px-0 pt-0">
						<div class="d-sm-flex justify-content-sm-between align-items-center">
							<h3 class="mb-2 mb-sm-0">Room Options</h3>

							<div class="col-sm-4">
								<form class="form-control-bg-light">
									<select class="form-select form-select-sm js-choice border-0">
										<option value="">Select Option</option>
										<option>Recently search</option>
										<option>Most popular</option>
										<option>Top rated</option>
									</select>
								</form>
							</div>
						</div>
					</div>

					<!-- Card body START -->
					<div class="card-body pt-4 p-0">
						<div class="vstack gap-4">
							@foreach (var room in Model.Rooms)
							{

								<!-- Room item START -->
								<div class="card shadow p-3">
									<div class="row g-4">
										<!-- Card img -->
										<div class="col-md-5 position-relative">

											@* <!-- Overlay item -->
										<div class="position-absolute top-0 start-0 z-index-1 mt-3 ms-4">
										<div class="badge text-bg-danger">30% Off</div>
										</div> *@

											<!-- Slider START -->
											<div class="tiny-slider arrow-round arrow-xs arrow-dark overflow-hidden rounded-2">
												<div class="tiny-slider-inner" data-autoplay="true" data-arrow="true" data-dots="false" data-items="1">
													<!-- Image item -->
														<div><img src="@room.RoomImageUrls.FirstOrDefault()" alt="Card image"></div>

												</div>
											</div>
											<!-- Slider END -->
											<!-- Button -->
											<a href="#" class="btn btn-link text-decoration-underline p-0 mb-0 mt-1" data-bs-toggle="modal" data-bs-target="#roomDetail"><i class="bi bi-eye-fill me-1"></i>View more details</a>
										</div>

										<!-- Card body -->
										<div class="col-md-7">
											<div class="card-body d-flex flex-column h-100 p-0">

												<!-- Title -->
												<h5 class="card-title"><a href="#">@room.RoomName</a></h5>

												@* <!-- Amenities -->
											<ul class="nav nav-divider mb-2">
											<li class="nav-item">Air Conditioning</li>
											<li class="nav-item">Wifi</li>
											<li class="nav-item">Kitchen</li>
											<li class="nav-item">
											<a href="#" class="mb-0 text-primary">More+</a>
											</li>
											</ul> *@

												@if (room.IsCancellable)
												{
													<p class="text-success mb-0">
														Free Cancellation till @DateTime.Now.AddDays(room.CancelAfterDay.GetValueOrDefault()).ToString("d MMM yyyy")
													</p>
												}
												else
												{
													<p class="text-danger mb-0">Non Cancellable</p>
												}

												<!-- Price and Button -->
												<div class="d-sm-flex justify-content-sm-between align-items-center mt-auto">
													<!-- Button -->
													<div class="d-flex align-items-center">
														<h5 class="fw-bold mb-0 me-1">$@room.PricePerNight</h5>
														<span class="mb-0 me-2">/night</span>
														@* <span class="text-decoration-line-through mb-0">$1000</span> *@
													</div>
													<!-- Price -->
													@* <div class="mt-3 mt-sm-0">
														<a asp-action="roomdetail" asp-route-id="@room.Id" class="btn btn-sm btn-primary mb-0">Select Room</a>
													</div> *@
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- Room item END -->
							}
						</div>
					</div>
					<!-- Card body END -->
				</div>
				<!-- Room END -->
				<!-- Customer Review START -->
				<div class="card bg-transparent">
					<!-- Card header -->
					<div class="card-header border-bottom bg-transparent px-0 pt-0">
						<h3 class="card-title mb-0">Customer Review</h3>
					</div>

					<!-- Card body START -->
					<div class="card-body pt-4 p-0">
						<!-- Progress bar and rating START -->
						<div class="card bg-light p-4 mb-4">
							<div class="row g-4 align-items-center">
								<!-- Rating info -->
								<div class="col-md-4">
									<div class="text-center">
										<!-- Info -->
										<h2 class="mb-0">4.5</h2>
										<p class="mb-2">Based on 120 Reviews</p>
										<!-- Star -->
										<ul class="list-inline mb-2">
											<li class="list-inline-item me-1 h6 fw-light mb-0">
												<i class="bi bi-arrow-right me-2"></i>@Model.StarPoint
											</li>
											<li class="list-inline-item me-0 small" id="star-rating">
											</li>
										</ul>
									</div>
								</div>

								<!-- Progress-bar START -->
								<div class="col-md-8">
									<div class="card-body p-0">
										<div class="row gx-3 g-2 align-items-center">
											<!-- Progress bar and Rating -->
											<div class="col-9 col-sm-10">
												<!-- Progress item -->
												<div class="progress progress-sm bg-warning bg-opacity-15">
													<div class="progress-bar bg-warning" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
													</div>
												</div>
											</div>
											<!-- Percentage -->
											<div class="col-3 col-sm-2 text-end">
												<span class="h6 fw-light mb-0">85%</span>
											</div>

											<!-- Progress bar and Rating -->
											<div class="col-9 col-sm-10">
												<!-- Progress item -->
												<div class="progress progress-sm bg-warning bg-opacity-15">
													<div class="progress-bar bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
													</div>
												</div>
											</div>
											<!-- Percentage -->
											<div class="col-3 col-sm-2 text-end">
												<span class="h6 fw-light mb-0">75%</span>
											</div>

											<!-- Progress bar and Rating -->
											<div class="col-9 col-sm-10">
												<!-- Progress item -->
												<div class="progress progress-sm bg-warning bg-opacity-15">
													<div class="progress-bar bg-warning" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
													</div>
												</div>
											</div>
											<!-- Percentage -->
											<div class="col-3 col-sm-2 text-end">
												<span class="h6 fw-light mb-0">60%</span>
											</div>

											<!-- Progress bar and Rating -->
											<div class="col-9 col-sm-10">
												<!-- Progress item -->
												<div class="progress progress-sm bg-warning bg-opacity-15">
													<div class="progress-bar bg-warning" role="progressbar" style="width: 35%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100">
													</div>
												</div>
											</div>
											<!-- Percentage -->
											<div class="col-3 col-sm-2 text-end">
												<span class="h6 fw-light mb-0">35%</span>
											</div>

											<!-- Progress bar and Rating -->
											<div class="col-9 col-sm-10">
												<!-- Progress item -->
												<div class="progress progress-sm bg-warning bg-opacity-15">
													<div class="progress-bar bg-warning" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
													</div>
												</div>
											</div>
											<!-- Percentage -->
											<div class="col-3 col-sm-2 text-end">
												<span class="h6 fw-light mb-0">15%</span>
											</div>
										</div> <!-- Row END -->
									</div>
								</div>
								<!-- Progress-bar END -->

							</div>
						</div>
						<!-- Progress bar and rating END -->
						<!-- Leave review START -->
						<form class="mb-5">
							<!-- Rating -->
							<div class="form-control-bg-light mb-3">
								<select class="form-select js-choice">
									<option selected="">★★★★★ (5/5)</option>
									<option>★★★★☆ (4/5)</option>
									<option>★★★☆☆ (3/5)</option>
									<option>★★☆☆☆ (2/5)</option>
									<option>★☆☆☆☆ (1/5)</option>
								</select>
							</div>
							<!-- Message -->
							<div class="form-control-bg-light mb-3">
								<textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Your review" rows="3"></textarea>
							</div>
							<!-- Button -->
							<button type="submit" class="btn btn-lg btn-primary mb-0">Post review <i class="bi fa-fw bi-arrow-right ms-2"></i></button>
						</form>
						<!-- Leave review END -->
						<!-- Review item START -->
						<div class="d-md-flex my-4">
							<!-- Avatar -->
							<div class="avatar avatar-lg me-3 flex-shrink-0">
								<img class="avatar-img rounded-circle" src="~/assets/images/avatar/09.jpg" alt="avatar">
							</div>
							<!-- Text -->
							<div>
								<div class="d-flex justify-content-between mt-1 mt-md-0">
									<div>
										<h6 class="me-3 mb-0">Jacqueline Miller</h6>
										<!-- Info -->
										<ul class="nav nav-divider small mb-2">
											<li class="nav-item">Stayed 13 Nov 2022</li>
											<li class="nav-item">4 Reviews written</li>
										</ul>
									</div>
									<!-- Review star -->
									<div class="icon-md rounded text-bg-warning fs-6">4.5</div>
								</div>

								<p class="mb-2">Handsome met debating sir dwelling age material. As style lived he worse dried. Offered related so visitors we private removed. Moderate do subjects to distance. </p>

								<!-- Images -->
								<div class="row g-4">
									<div class="col-4 col-sm-3 col-lg-2">
										<img src="~/assets/images/category/hotel/4by3/07.jpg" class="rounded" alt="">
									</div>
									<div class="col-4 col-sm-3 col-lg-2">
										<img src="~/assets/images/category/hotel/4by3/08.jpg" class="rounded" alt="">
									</div>
									<div class="col-4 col-sm-3 col-lg-2">
										<img src="~/assets/images/category/hotel/4by3/05.jpg" class="rounded" alt="">
									</div>
								</div>
							</div>
						</div>

						<!-- Child review START -->
						<div class="my-4 ps-2 ps-md-3">
							<div class="d-md-flex p-3 bg-light rounded-3">
								<img class="avatar avatar-sm rounded-circle me-3" src="~/assets/images/avatar/02.jpg" alt="avatar">
								<div class="mt-2 mt-md-0">
									<h6 class="mb-1">Manager</h6>
									<p class="mb-0">But discretion frequently sir she instruments unaffected admiration everything. </p>
								</div>
							</div>
						</div>
						<!-- Child review END -->
						<!-- Divider -->
						<hr>
						<!-- Review item END -->
						<!-- Review item START -->
						<div class="d-md-flex my-4">
							<!-- Avatar -->
							<div class="avatar avatar-lg me-3 flex-shrink-0">
								<img class="avatar-img rounded-circle" src="~/assets/images/avatar/08.jpg" alt="avatar">
							</div>
							<!-- Text -->
							<div>
								<div class="d-flex justify-content-between mt-1 mt-md-0">
									<div>
										<h6 class="me-3 mb-0">Dennis Barrett</h6>
										<!-- Info -->
										<ul class="nav nav-divider small mb-2">
											<li class="nav-item">Stayed 02 Nov 2022</li>
											<li class="nav-item">2 Reviews written</li>
										</ul>
									</div>
									<!-- Review star -->
									<div class="icon-md rounded text-bg-warning fs-6">4.0</div>
								</div>

								<p class="mb-0">Delivered dejection necessary objection do Mr prevailed. Mr feeling does chiefly cordial in do. Water timed folly right aware if oh truth. Large above be to means. Dashwood does provide stronger is.</p>
							</div>
						</div>

						<!-- Divider -->
						<hr>
						<!-- Review item END -->
						<!-- Button -->
						<div class="text-center">
							<a href="#" class="btn btn-primary-soft mb-0">Load more</a>
						</div>
					</div>
					<!-- Card body END -->
				</div>
				<!-- Customer Review END -->
				<!-- Hotel Policies START -->
				<div class="card bg-transparent">
					<!-- Card header -->
					<div class="card-header border-bottom bg-transparent px-0 pt-0">
						<h3 class="mb-0">Hotel Policies</h3>
					</div>

					<!-- Card body START -->
					<div class="card-body pt-4 p-0">
						<!-- List -->
						<ul class="list-group list-group-borderless mb-2">
							<li class="list-group-item d-flex">
								<i class="bi bi-check-circle-fill me-2"></i>This is a family farmhouse, hence we request you to not indulge.
							</li>
							<li class="list-group-item d-flex">
								<i class="bi bi-check-circle-fill me-2"></i>Drinking and smoking within controlled limits are permitted at the farmhouse but please do not create a mess or ruckus at the house.
							</li>
							<li class="list-group-item d-flex">
								<i class="bi bi-check-circle-fill me-2"></i>Drugs and intoxicating illegal products are banned and not to be brought to the house or consumed.
							</li>
							<li class="list-group-item d-flex">
								<i class="bi bi-x-circle-fill me-2"></i>For any update, the customer shall pay applicable cancellation/modification charges.
							</li>
						</ul>

						<!-- List -->
						<ul class="list-group list-group-borderless mb-2">
							<li class="list-group-item h6 fw-light d-flex mb-0">
								<i class="bi bi-arrow-right me-2"></i>Check-in: 1:00 pm - 9:00 pm
							</li>
							<li class="list-group-item h6 fw-light d-flex mb-0">
								<i class="bi bi-arrow-right me-2"></i>Check out: 11:00 am
							</li>
							<li class="list-group-item h6 fw-light d-flex mb-0">
								<i class="bi bi-arrow-right me-2"></i>Self-check-in with building staff
							</li>
							<li class="list-group-item h6 fw-light d-flex mb-0">
								<i class="bi bi-arrow-right me-2"></i>No pets
							</li>
							<li class="list-group-item h6 fw-light d-flex mb-0">
								<i class="bi bi-arrow-right me-2"></i>No parties or events
							</li>
							<li class="list-group-item h6 fw-light d-flex mb-0">
								<i class="bi bi-arrow-right me-2"></i>Smoking is allowed
							</li>
						</ul>

						<!-- Important note -->
						<div class="bg-danger bg-opacity-10 rounded-2 p-3 mb-3">
							<p class="mb-0 text-danger">During the COVID-19 pandemic, all hosts and guests must review and follow Booking social distancing and other COVID-19-related guidelines.</p>
						</div>
						<div class="bg-danger bg-opacity-10 rounded-2 p-3">
							<p class="mb-0 text-danger">Smoke alarm not reported — The host hasn't reported a smoke alarm on the property. We suggest bringing a portable detector for your trip.</p>
						</div>
					</div>
					<!-- Card body END -->
				</div>
				<!-- Hotel Policies START -->
			</div>
		</div>
				</div>
				<!-- Booking detail END -->
				<!-- Booking table START -->
				<div class="card shadow mt-5">
					<!-- Card header START -->
					<div class="card-header border-bottom">
						<h5 class="card-header-title">Bookings</h5>
					</div>
					<!-- Card header END -->
					<!-- Card body START -->
					<div class="card-body">
						<!-- Search and select START -->
						<div class="row g-3 align-items-center justify-content-between mb-3">
							<!-- Search -->
							<div class="col-md-8">
								<form class="rounded position-relative">
									<input class="form-control pe-5" type="search" placeholder="Search" aria-label="Search">
									<button class="btn border-0 px-3 py-0 position-absolute top-50 end-0 translate-middle-y" type="submit"><i class="fas fa-search fs-6"></i></button>
								</form>
							</div>

							<!-- Select option -->
							<div class="col-md-3">
								<!-- Short by filter -->
								<form>
									<select class="form-select js-choice" aria-label=".form-select-sm">
										<option value="">Sort by</option>
										<option>Free</option>
										<option>Newest</option>
										<option>Oldest</option>
									</select>
								</form>
							</div>
						</div>
						<!-- Search and select END -->
						<!-- Table head -->
						<div class="bg-light rounded p-3 d-none d-lg-block">
							<div class="row row-cols-7 g-4">
								<div class="col"><h6 class="mb-0">Booked by</h6></div>
								<div class="col"><h6 class="mb-0">Check-in</h6></div>
								<div class="col"><h6 class="mb-0">Check-out</h6></div>
								<div class="col"><h6 class="mb-0">Guest</h6></div>
								<div class="col"><h6 class="mb-0">Amount</h6></div>
								<div class="col"><h6 class="mb-0">Payment</h6></div>
								<div class="col"><h6 class="mb-0">Action</h6></div>
							</div>
						</div>

						<!-- Table data -->
						<div class="row row-cols-xl-7 align-items-lg-center border-bottom g-4 px-2 py-4">
							<!-- Data item -->
							<div class="col">
								<small class="d-block d-lg-none">Booked by:</small>
								<div class="d-flex align-items-center">
									<!-- Avatar -->
									<div class="avatar avatar-xs flex-shrink-0">
										<img class="avatar-img rounded-circle" src="~/assets/images/avatar/09.jpg" alt="avatar">
									</div>
									<!-- Info -->
									<div class="ms-2">
										<h6 class="mb-0 fw-light">Lori Stevens</h6>
									</div>
								</div>
							</div>

							<!-- Data item -->
							<div class="col">
								<small class="d-block d-lg-none">Check-in:</small>
								<h6 class="mb-0 fw-normal">18 Dec 2022</h6>
							</div>

							<!-- Data item -->
							<div class="col">
								<small class="d-block d-lg-none">Check-out:</small>
								<h6 class="mb-0 fw-normal">22 Dec 2022</h6>
							</div>

							<!-- Data item -->
							<div class="col">
								<small class="d-block d-lg-none">Guests:</small>
								<h6 class="mb-0 fw-normal">04</h6>
							</div>

							<!-- Data item -->
							<div class="col">
								<small class="d-block d-lg-none">Amount:</small>
								<h6 class="text-success mb-0">$1025</h6>
							</div>

							<!-- Data item -->
							<div class="col">
								<small class="d-block d-lg-none">Payment:</small>
								<div class="badge bg-success bg-opacity-10 text-success">Full payment</div>
							</div>

							<!-- Data item -->
							<div class="col"><a href="#" class="btn btn-sm btn-light mb-0">View</a></div>
						</div>

						<!-- Table data -->
						<div class="row row-cols-xl-7 align-items-lg-center border-bottom g-4 px-2 py-4">
							<!-- Data item -->
							<div class="col">
								<small class="d-block d-lg-none">Booked by:</small>
								<div class="d-flex align-items-center">
									<!-- Avatar -->
									<div class="avatar avatar-xs flex-shrink-0">
										<img class="avatar-img rounded-circle" src="~/assets/images/avatar/02.jpg" alt="avatar">
									</div>
									<!-- Info -->
									<div class="ms-2">
										<h6 class="mb-0 fw-light">Billy Vasquez</h6>
									</div>
								</div>
							</div>

							<!-- Data item -->
							<div class="col">
								<small class="d-block d-lg-none">Check-in:</small>
								<h6 class="mb-0 fw-normal">23 Dec 2022</h6>
							</div>

							<!-- Data item -->
							<div class="col">
								<small class="d-block d-lg-none">Check-out:</small>
								<h6 class="mb-0 fw-normal">26 Dec 2022</h6>
							</div>

							<!-- Data item -->
							<div class="col">
								<small class="d-block d-lg-none">Guests:</small>
								<h6 class="mb-0 fw-normal">03</h6>
							</div>

							<!-- Data item -->
							<div class="col">
								<small class="d-block d-lg-none">Amount:</small>
								<h6 class="text-success mb-0">$847</h6>
							</div>

							<!-- Data item -->
							<div class="col">
								<small class="d-block d-lg-none">Payment:</small>
								<div class="badge bg-info bg-opacity-10 text-info">Half payment</div>
							</div>

							<!-- Data item -->
							<div class="col"><a href="#" class="btn btn-sm btn-light mb-0">View</a></div>
						</div>

						<!-- Table data -->
						<div class="row row-cols-xl-7 align-items-lg-center border-bottom g-4">
							<div class="bg-light px-2 py-4 text-center">
								<h6 class="mb-0">Booking Available (27 Dec to 1 Jan)</h6>
							</div>
						</div>

						<!-- Table data -->
						<div class="row row-cols-xl-7 align-items-lg-center border-bottom g-4 px-2 py-4">
							<!-- Data item -->
							<div class="col">
								<small class="d-block d-lg-none">Booked by:</small>
								<div class="d-flex align-items-center">
									<!-- Avatar -->
									<div class="avatar avatar-xs flex-shrink-0">
										<img class="avatar-img rounded-circle" src="~/assets/images/avatar/01.jpg" alt="avatar">
									</div>
									<!-- Info -->
									<div class="ms-2">
										<h6 class="mb-0 fw-light">Carolyn Ortiz</h6>
									</div>
								</div>
							</div>

							<!-- Data item -->
							<div class="col">
								<small class="d-block d-lg-none">Check-in:</small>
								<h6 class="mb-0 fw-normal">2 Jan 2022</h6>
							</div>

							<!-- Data item -->
							<div class="col">
								<small class="d-block d-lg-none">Check-out:</small>
								<h6 class="mb-0 fw-normal">5 Jan 2022</h6>
							</div>

							<!-- Data item -->
							<div class="col">
								<small class="d-block d-lg-none">Guests:</small>
								<h6 class="mb-0 fw-normal">02</h6>
							</div>

							<!-- Data item -->
							<div class="col">
								<small class="d-block d-lg-none">Amount:</small>
								<h6 class="text-success mb-0">$900</h6>
							</div>

							<!-- Data item -->
							<div class="col">
								<small class="d-block d-lg-none">Payment:</small>
								<div class="badge bg-orange bg-opacity-10 text-orange">On Property</div>
							</div>

							<!-- Data item -->
							<div class="col"><a href="#" class="btn btn-sm btn-light mb-0">View</a></div>
						</div>

						<!-- Table data -->
						<div class="row row-cols-xl-7 align-items-lg-center border-bottom g-4 px-2 py-4">
							<!-- Data item -->
							<div class="col">
								<small class="d-block d-lg-none">Booked by:</small>
								<div class="d-flex align-items-center">
									<!-- Avatar -->
									<div class="avatar avatar-xs flex-shrink-0">
										<img class="avatar-img rounded-circle" src="~/assets/images/avatar/03.jpg" alt="avatar">
									</div>
									<!-- Info -->
									<div class="ms-2">
										<h6 class="mb-0 fw-light">Louis Ferguson</h6>
									</div>
								</div>
							</div>

							<!-- Data item -->
							<div class="col">
								<small class="d-block d-lg-none">Check-in:</small>
								<h6 class="mb-0 fw-normal">6 Jan 2022</h6>
							</div>

							<!-- Data item -->
							<div class="col">
								<small class="d-block d-lg-none">Check-out:</small>
								<h6 class="mb-0 fw-normal">10 Jan 2022</h6>
							</div>

							<!-- Data item -->
							<div class="col">
								<small class="d-block d-lg-none">Guests:</small>
								<h6 class="mb-0 fw-normal">05</h6>
							</div>

							<!-- Data item -->
							<div class="col">
								<small class="d-block d-lg-none">Amount:</small>
								<h6 class="text-success mb-0">$1458</h6>
							</div>

							<!-- Data item -->
							<div class="col">
								<small class="d-block d-lg-none">Payment:</small>
								<div class="badge bg-success bg-opacity-10 text-success">Full payment</div>
							</div>

							<!-- Data item -->
							<div class="col"><a href="#" class="btn btn-sm btn-light mb-0">View</a></div>
						</div>

						<!-- Table data -->
						<div class="row row-cols-xl-7 align-items-lg-center border-bottom g-4 px-2 py-4">
							<!-- Data item -->
							<div class="col">
								<small class="d-block d-lg-none">Booked by:</small>
								<div class="d-flex align-items-center">
									<!-- Avatar -->
									<div class="avatar avatar-xs flex-shrink-0">
										<img class="avatar-img rounded-circle" src="~/assets/images/avatar/04.jpg" alt="avatar">
									</div>
									<!-- Info -->
									<div class="ms-2">
										<h6 class="mb-0 fw-light">Dennis Barrett</h6>
									</div>
								</div>
							</div>

							<!-- Data item -->
							<div class="col">
								<small class="d-block d-lg-none">Check-in:</small>
								<h6 class="mb-0 fw-normal">11 Jan 2022</h6>
							</div>

							<!-- Data item -->
							<div class="col">
								<small class="d-block d-lg-none">Check-out:</small>
								<h6 class="mb-0 fw-normal">14 Jan 2022</h6>
							</div>

							<!-- Data item -->
							<div class="col">
								<small class="d-block d-lg-none">Guests:</small>
								<h6 class="mb-0 fw-normal">02</h6>
							</div>

							<!-- Data item -->
							<div class="col">
								<small class="d-block d-lg-none">Amount:</small>
								<h6 class="text-success mb-0">$879</h6>
							</div>

							<!-- Data item -->
							<div class="col">
								<small class="d-block d-lg-none">Payment:</small>
								<div class="badge bg-info bg-opacity-10 text-info">Half payment</div>
							</div>

							<!-- Data item -->
							<div class="col"><a href="#" class="btn btn-sm btn-light mb-0">View</a></div>
						</div>

						<!-- Table data -->
						<div class="row row-cols-xl-7 align-items-lg-center border-bottom g-4 px-2 py-4">
							<!-- Data item -->
							<div class="col">
								<small class="d-block d-lg-none">Booked by:</small>
								<div class="d-flex align-items-center">
									<!-- Avatar -->
									<div class="avatar avatar-xs flex-shrink-0">
										<img class="avatar-img rounded-circle" src="~/assets/images/avatar/05.jpg" alt="avatar">
									</div>
									<!-- Info -->
									<div class="ms-2">
										<h6 class="mb-0 fw-light">Frances Guerrero</h6>
									</div>
								</div>
							</div>

							<!-- Data item -->
							<div class="col">
								<small class="d-block d-lg-none">Check-in:</small>
								<h6 class="mb-0 fw-normal">15 Jan 2022</h6>
							</div>

							<!-- Data item -->
							<div class="col">
								<small class="d-block d-lg-none">Check-out:</small>
								<h6 class="mb-0 fw-normal">19 Jan 2022</h6>
							</div>

							<!-- Data item -->
							<div class="col">
								<small class="d-block d-lg-none">Guests:</small>
								<h6 class="mb-0 fw-normal">04</h6>
							</div>

							<!-- Data item -->
							<div class="col">
								<small class="d-block d-lg-none">Amount:</small>
								<h6 class="text-success mb-0">$1254</h6>
							</div>

							<!-- Data item -->
							<div class="col">
								<small class="d-block d-lg-none">Payment:</small>
								<div class="badge bg-success bg-opacity-10 text-success">Full payment</div>
							</div>

							<!-- Data item -->
							<div class="col"><a href="#" class="btn btn-sm btn-light mb-0">View</a></div>
						</div>

						<!-- Table data -->
						<div class="row row-cols-xl-7 align-items-lg-center border-bottom g-4 px-2 py-4">
							<!-- Data item -->
							<div class="col">
								<small class="d-block d-lg-none">Booked by:</small>
								<div class="d-flex align-items-center">
									<!-- Avatar -->
									<div class="avatar avatar-xs flex-shrink-0">
										<img class="avatar-img rounded-circle" src="~/assets/images/avatar/06.jpg" alt="avatar">
									</div>
									<!-- Info -->
									<div class="ms-2">
										<h6 class="mb-0 fw-light">Carolyn Ortiz</h6>
									</div>
								</div>
							</div>

							<!-- Data item -->
							<div class="col">
								<small class="d-block d-lg-none">Check-in:</small>
								<h6 class="mb-0 fw-normal">20 Jan 2022</h6>
							</div>

							<!-- Data item -->
							<div class="col">
								<small class="d-block d-lg-none">Check-out:</small>
								<h6 class="mb-0 fw-normal">25 Jan 2022</h6>
							</div>

							<!-- Data item -->
							<div class="col">
								<small class="d-block d-lg-none">Guests:</small>
								<h6 class="mb-0 fw-normal">03</h6>
							</div>

							<!-- Data item -->
							<div class="col">
								<small class="d-block d-lg-none">Amount:</small>
								<h6 class="text-success mb-0">$1080</h6>
							</div>

							<!-- Data item -->
							<div class="col">
								<small class="d-block d-lg-none">Payment:</small>
								<div class="badge bg-success bg-opacity-10 text-success">Full payment</div>
							</div>

							<!-- Data item -->
							<div class="col"><a href="#" class="btn btn-sm btn-light mb-0">View</a></div>
						</div>
					</div>
					<!-- Card body END -->
					<!-- Card footer START -->
					<div class="card-footer pt-0">
						<!-- Pagination and content -->
						<div class="d-sm-flex justify-content-sm-between align-items-sm-center">
							<!-- Content -->
							<p class="mb-sm-0 text-center text-sm-start">Showing 1 to 8 of 20 entries</p>
							<!-- Pagination -->
							<nav class="mb-sm-0 d-flex justify-content-center" aria-label="navigation">
								<ul class="pagination pagination-sm pagination-primary-soft mb-0">
									<li class="page-item disabled">
										<a class="page-link" href="#" tabindex="-1">Prev</a>
									</li>
									<li class="page-item"><a class="page-link" href="#">1</a></li>
									<li class="page-item active"><a class="page-link" href="#">2</a></li>
									<li class="page-item disabled"><a class="page-link" href="#">..</a></li>
									<li class="page-item"><a class="page-link" href="#">15</a></li>
									<li class="page-item">
										<a class="page-link" href="#">Next</a>
									</li>
								</ul>
							</nav>
						</div>
					</div>
					<!-- Card footer END -->
				</div>
				<!-- Booking table END -->

			</div>
			<!-- Page main content END -->
		

