@{
	Layout = "~/Views/Shared/AdminLayout.cshtml";
}
@model PaginatedList<BookingProject.MVC.ViewModels.AdminViewModels.UserGetViewModel>;
			<!-- Page main content START -->
			<div class="page-content-wrapper p-xxl-4">

				<!-- Title -->
				<div class="row">
					<div class="col-12 mb-4 mb-sm-5">
						<div class="d-sm-flex justify-content-between align-items-center">
							<h1 class="h3 mb-3 mb-sm-0">Owners List</h1>
						</div>
					</div>
				</div>

				<!-- Search and select START -->
				<div class="row g-3 align-items-center justify-content-between mb-5">
					<!-- Search -->
					<div class="col-md-8">
						<form class="rounded position-relative" method="get" asp-action="ownerslist">
							<input class="form-control pe-5" type="search" placeholder="Search" aria-label="Search" name="search">
							<button class="btn border-0 px-3 py-0 position-absolute top-50 end-0 translate-middle-y" type="submit"><i class="fas fa-search fs-6"></i></button>
						</form>
					</div>
				</div>
				<!-- Search and select END -->
				<!-- agent list START -->
				<div class="row g-4">
					@foreach (var user in Model)
		{
					<!-- Card item -->
					<div class="col-md-6 col-lg-4 col-xxl-3">
						<div class="card border h-100">
							<!-- Card body -->
							<div class="card-body text-center pb-0">
								<!-- Avatar Image -->
								<div class="avatar avatar-xl flex-shrink-0 mb-3">
							<img class="avatar-img rounded-circle" src='@(string.IsNullOrEmpty(user.ProfilePhotoUrl) ? "https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" : user.ProfilePhotoUrl)' alt="avatar">
								</div>
								<!-- Title -->
								<h5 class="mb-1">@user.FirstName @user.LastName</h5>
								<!-- Info and rating -->
								<div class="d-flex justify-content-between mt-3">
									<h6 class="mb-0 small"><span class="fw-light">Total listings:</span>@user.HotelCount</h6>
								</div>
							</div>
							<!-- card footer -->
							<div class="card-footer d-flex gap-3 align-items-center">
								<a asp-action="ownerdetail" asp-route-id="@user.Id" class="btn btn-sm btn-primary-soft mb-0 w-100">View detail</a>
							</div>
						</div>
					</div>
			
		}
				</div>
				<!-- agent list END -->
				<!-- Pagination START -->
				<div class="d-sm-flex justify-content-sm-between align-items-sm-center mt-4">
					<!-- Pagination -->
					<div class="row">
						<div class="col-12">
							<nav class="mt-4 d-flex justify-content-center" aria-label="navigation">
								<ul class="pagination pagination-primary-soft d-inline-block d-md-flex rounded mb-0">
									<li class="page-item @(Model.HasPrev ? "" : "disabled") mb-0">
										<a class="page-link" asp-action="ownerslist" asp-route-page="@(Model.CurrentPage - 1)" tabindex="-1">
											<i class="fa-solid fa-angle-left"></i>
										</a>
									</li>
									@for (int i = 1; i <= Model.TotalPageCount; i++)
									{
										<li class="page-item @(Model.CurrentPage == i ? "active" : "") mb-0">
								<a class="page-link" asp-action="ownerslist" asp-route-page="@i">@i</a>
										</li>
									}
									<li class="page-item @(Model.HasNext ? "" : "disabled") mb-0">
							<a class="page-link" asp-action="ownerslist" asp-route-page="@(Model.CurrentPage + 1)">
											<i class="fa-solid fa-angle-right"></i>
										</a>
									</li>
								</ul>

							</nav>
						</div>
					</div>
				</div>
				<!-- Pagination END -->

			</div>
			<!-- Page main content END -->
