@{
	Layout = "~/Views/Shared/OwnerLayout.cshtml";
}
@model List<OwnerHotelGetViewModel>
		<!-- =======================
		Content START -->
		<section class="pt-0">
			<div class="container vstack gap-4">
				<!-- Title START -->
				<div class="row">
					<div class="col-12">
						<h1 class="fs-4 mb-0"><i class="bi bi-journals fa-fw me-1"></i>Listings</h1>
					</div>
				</div>
				<!-- Title END -->
				<!-- Listing table START -->
				<div class="row">
					<div class="col-12">

						<div class="card border">
							<!-- Card header -->
							<div class="card-header border-bottom">
								<h5 class="card-header-title">My Listings <span class="badge bg-primary bg-opacity-10 text-primary ms-2">@Model.Count() Items</span></h5>
							</div>

							<!-- Card body START -->
							<div class="card-body vstack gap-3">
								@foreach(var hotel in Model){
								<!-- Listing item START -->
								<div class="card border p-2">
									<div class="row g-4">
										<!-- Card img -->
										<div class="col-md-3 col-lg-2">
											<img src="@hotel.ImageFileUrls.FirstOrDefault()" class="card-img rounded-2" alt="Card image">
										</div>

										<!-- Card body -->
										<div class="col-md-9 col-lg-10">
											<div class="card-body position-relative d-flex flex-column p-0 h-100">

												<!-- Title -->
												<h5 class="card-title mb-0 me-5"><a asp-action="hoteldetail" asp-controller="home" asp-route-id="@hotel.Id">@hotel.Name</a></h5>
												<small><i class="bi bi-geo-alt me-2"></i>@hotel.Address, @hotel.City - @hotel.ViewerCount</small>

												<!-- Price and Button -->
												<div class="d-sm-flex justify-content-sm-between align-items-center mt-3 mt-md-auto">
													<!-- Button -->
													<div class="d-flex align-items-center">
													<h5 class="fw-bold mb-0 me-1">$@hotel.Rooms.OrderBy(x => x.PricePerNight).FirstOrDefault().PricePerNight</h5>
														<span class="mb-0 me-2">/night</span>
													</div>
													<!-- Price -->
													<div class="hstack gap-2 mt-3 mt-sm-0">
														<a asp-action="updatehotel" asp-controller="property" asp-route-id="@hotel.Id" class="btn btn-sm btn-primary-soft mb-0"><i class="bi bi-pencil-square fa-fw me-1"></i>Edit</a>
													<a asp-action="deletehotel" asp-controller="property" asp-route-id="@hotel.Id" class="btn btn-sm btn-danger-soft mb-0 delete-btn"><i class="bi bi-trash3 fa-fw me-1"></i>Delete</a>
														<a asp-action="addroom" asp-controller="property" asp-route-hotelid="@hotel.Id" class="btn btn-sm btn-success-soft mb-0"><i class="fas fa-plus fa-fw me-1"></i>Add Room</a>
													<a asp-action="hotelrooms" asp-controller="owner" asp-route-hotelid="@hotel.Id" class="btn btn-sm btn-warning-soft mb-0"><i class="fas fa-wrench fa-fw me-1"></i>Edit Rooms</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- Listing item END -->
								}
							</div>
							<!-- Card body END -->
						</div>
					</div>
				</div>
				<!-- Listing table END -->
			</div>
		</section>
		<!-- =======================
		Content END -->
