@{
    Layout = "~/Views/Shared/OwnerLayout.cshtml";
}
@model PaginatedList<ReviewGetViewModel>

<section class="pt-0">
    <div class="container vstack gap-4">
        <!-- Title START -->
        <div class="row">
            <div class="col-12">
                <h1 class="fs-4 mb-0"><i class="bi bi-star fa-fw me-1"></i>Reviews</h1>
            </div>
        </div>
        <!-- Title END -->
        <!-- Review START -->
        <div class="row">
            <div class="col-12">
                <div class="card border rounded-3">
                    <!-- Card header START -->
                    <div class="card-header border-bottom">
                        <h5 class="card-header-title">User Reviews<span class="badge bg-primary bg-opacity-10 text-primary ms-2">@Model.Count()</span></h5>
                    </div>
                    <!-- Card header END -->
                    <!-- Card body START -->
                    <div class="card-body">
                        @foreach (var item in Model)
                        {
                            <div class="bg-light rounded p-3 mb-3">
                                <!-- Review item START -->
                                <div class="d-sm-flex justify-content-between">
                                    <!-- Avatar image -->
                                    <div class="d-sm-flex align-items-center mb-3">
                                        <img class="avatar avatar-md rounded-circle float-start me-3" src='@(string.IsNullOrEmpty(item.UserPpUrl) ? "https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" : item.UserPpUrl)' alt="avatar">
                                        <!-- Title -->
                                        <div>
                                            <h6 class="m-0">@item.UserName</h6>
                                            <span class="me-3 small">@item.CreatedDate.ToString("dd/MM/yyy HH:mm")</span>
                                        </div>
                                    </div>
                                    <!-- Review star -->
                                    <ul class="list-inline mb-2 mb-sm-0">
                                        <ul class="list-inline mb-2 mb-sm-0">
                                            @Html.Raw(item.GetStarRatingHtml())
                                        </ul>
                                    </ul>
                                </div>

                                <!-- Content -->
                                <h6 class="fw-normal"><span class="text-body">Review on:</span> @item.HotelName</h6>
                                <p>@item.ReviewMessage</p>

                                @if (item.ReviewImageUrls != null)
                                {
                                    <!-- Image -->
                                    <div class="row g-4">
                                        @foreach (var url in item.ReviewImageUrls)
                                        {
                                            <div class="col-4 col-sm-3 col-lg-2">
                                                <a href="@url" data-glightbox data-gallery="gallery">
                                                    <img src="@url" class="rounded" alt="">
                                                </a>
                                            </div>
                                        }
                                    </div>
                                }

                                <!-- Buttons -->
                                <div class="d-flex justify-content-between align-items-center mt-3">
                                    <div class="ms-auto">
                                        <a asp-action="ReportReview" asp-route-id="@item.Id" class="text-primary-hover text-reset  small mb-0">
                                            <i class="bi bi-info-circle me-1"></i>Report
                                        </a>
                                    </div>
                                </div>

                                <!-- Review item END -->
                            </div>
                            <hr>
                        }
                    </div>
                    <!-- Card body END -->
                    <!-- Card footer START -->
                    <div class="card-footer pt-0">
                        <!-- Pagination and content -->
                        <div class="d-sm-flex justify-content-sm-between align-items-sm-center mt-4">
                            <!-- Pagination -->
                            <div class="row">
                                <div class="col-12">
                                    <nav class="mt-4 d-flex justify-content-center" aria-label="navigation">
                                        <ul class="pagination pagination-primary-soft d-inline-block d-md-flex rounded mb-0">
                                            <li class="page-item @(Model.HasPrev ? "" : "disabled") mb-0">
                                                <a class="page-link" asp-action="reviews" asp-route-page="@(Model.CurrentPage - 1)" tabindex="-1">
                                                    <i class="fa-solid fa-angle-left"></i>
                                                </a>
                                            </li>
                                            @for (int i = 1; i <= Model.TotalPageCount; i++)
                                            {
                                                <li class="page-item @(Model.CurrentPage == i ? "active" : "") mb-0">
                                                    <a class="page-link" asp-action="reviews" asp-route-page="@i">@i</a>
                                                </li>
                                            }
                                            <li class="page-item @(Model.HasNext ? "" : "disabled") mb-0">
                                                <a class="page-link" asp-action="reviews" asp-route-page="@(Model.CurrentPage + 1)">
                                                    <i class="fa-solid fa-angle-right"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Card footer END -->
                </div>
            </div>
        </div>
        <!-- Review END -->
    </div>
</section>
